[Desktop Entry]
Type=Application
Name=Armagetron Advanced
Exec=armagetronad %f
Comment=3d light cycle game
Comment[de]=dreidimensionales Lichtradspiel
Icon=org.armagetronad.armagetronad
Terminal=false
Categories=Game;ActionGame;
StartupNotify=false
MimeType=application/x-armagetronad;
Keywords=tron-like;light;cycle;3D;multiplayer;networked;server;

[AppImageHub]
X-AppImage-UpdateInformation=zsync|https://download.armagetronad.org/appimage/ArmagetronAdvanced.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
