[Desktop Entry]
Name=LibrePCB
Comment=Design Schematics and PCBs
Comment[de]=Entwerfen eines Schaltplans oder einer Platine
GenericName=PCB Designer
Categories=Development;Engineering;Electronics;
Type=Application
Terminal=false
Icon=librepcb
Exec=librepcb %U
MimeType=application/x-librepcb-project;

[AppImageHub]
X-AppImage-UpdateInformation=false
# Dear upstream developer, please add update information to your AppImage
# so that users can easily update the AppImage
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
