[Desktop Entry]
Comment=Yamagi Quake II is an alternative client for id Software's Quake II
Categories=Game;Shooter;
Exec=quake2
Icon=Quake2
Name=Yamagi Quake II
StartupNotify=true
Terminal=false
Type=Application
Keywords=quake;first;person;shooter;multiplayer;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created Signature made Sun Feb  9 13:52:52 2025 UTC                using RSA key 6E9137E3B0FE3FDC67D70F2ECDC41982C027BAAA Can't check signature: No public key 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
