[Desktop Entry]
Name=FMS File Explorer
Exec=AppRun
Terminal=false
Type=Application
Icon=fms-file-explorer-electron
StartupWMClass=FMS File Explorer
X-AppImage-Version=1.0.0-alpha.0
Comment=An application designed to simplify access and exploration of data produced by the Allen Institute for Cell Science, provide an intuitive mechanism for organizing that data, and provide simple hooks for incorporating that data into both programmatic and non-programmatic workflows.
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
