[Desktop Entry]
Name=Mob
Comment=Mob(モブ) - 一个基于 Electron + Umi 开发的喜马拉雅 FM 桌面客户端。A Ximalaya FM desktop client base on Electron & Umi.
Exec=AppRun
Terminal=false
Type=Application
Icon=mob
StartupWMClass=Mob
X-AppImage-Version=0.1.0.10
Categories=Music;
X-AppImage-BuildId=1L64KYvNEzV4jEzkinjAEDlwZ8s

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MIT
