[Desktop Entry]
Encoding=UTF-8
Name=LDView
GenericName=LDraw model viewer
Comment=LDraw Model Viewer
Exec=LDView %f
Icon=gnome-ldraw
Terminal=false
Type=Application
MimeType=application/x-ldraw;application/x-multipart-ldraw;application/x-multi-part-ldraw;
Categories=Graphics;3DGraphics;Viewer;

[AppImageHub]
X-AppImage-UpdateInformation=zsync|https://download.opensuse.org/repositories/home:/pbartfai/AppImage/ldview-latest-x86_64.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created Signature made Wed Sep 23 18:50:52 2026 UTC                using DSA key 2196717A541D1A01 Can't check signature: No public key 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=dynamic
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.30
