[Desktop Entry]
Version=1.0
Type=Application
Name=oDM
GenericName=Download Manager
Comment=A full featured native download manager for Linux based on aria2, yt-dlp and httrack
Exec=open-download-manager %U
Icon=open-download-manager
Terminal=false
MimeType=x-scheme-handler/magnet;
Categories=Network;FileTransfer;
Keywords=download;manager;aria2;yt-dlp;httrack;torrent;magnet;
StartupWMClass=org.odm
X-GNOME-UsesNotifications=true

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|getodm|open-download-manager|latest|Open_Download_Manager-*-x86_64.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.35
