[Desktop Entry]
Name=elastos-light-wallet
Comment=elastos light wallet
Exec=AppRun
Terminal=false
Type=Application
Icon=elastos-light-wallet
X-AppImage-Version=1.0.0-RC5
X-AppImage-BuildId=f7754540-4b77-11a9-32fe-ffc4594f658c
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
