[Desktop Entry]
Type=Application
Name=EShot
Comment=Screenshot, annotation, OCR, upload, GIF and video capture tool
Exec=eshot-launcher --control
Icon=io.github.benoks.EShot-v4
Terminal=false
StartupNotify=false
X-KDE-StartupNotify=false
X-GNOME-UsesNotifications=true
StartupWMClass=EShot
X-KDE-DBUS-Restricted-Interfaces=org.kde.KWin.ScreenShot2
Categories=Graphics;Photography;
Keywords=screenshot;screen capture;annotation;ocr;
Actions=Capture;Settings;Quit;

[Desktop Action Capture]
Name=Capture Screenshot
Exec=eshot-launcher --capture

[Desktop Action Settings]
Name=Settings
Exec=eshot-launcher --settings

[Desktop Action Quit]
Name=Quit EShot
Exec=eshot-launcher --quit

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.35
X-AppImage-Payload-License=MIT
