[Desktop Entry]

# The type as listed above
Type=Application

# The name of the application
Name=SigmaSpectra

# A comment which can/will be used as a tooltip
Comment=Semi-automated selection and scaling of time series

# The executable of the application, possibly with arguments.
Exec=sigmaspectra

# The name of the icon that will be used to display this entry
Icon=sigmaspectra

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Science;Engineering;

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|arkottke|sigmaspectra|latest|SigmaSpectra*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
