[Desktop Entry]
Type=Application
Name=4kWall
Comment=Browse, download, and auto-change 4K wallpapers
Exec=4kwall
Icon=com.warlordsoftwares.wallpaper-app-4kwall
Categories=Graphics;
Terminal=false
StartupWMClass=com.warlordsoftwares.wallpaper-app-4kwall
X-AppImage-Version=2026.7.9

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
