# This file is part of the RKWard project (https://rkward.kde.org)
# SPDX-FileCopyrightText: by Thomas Friedrichsmeier <thomas.friedrichsmeier@kdemail.net>
# SPDX-FileContributor: The RKWard Team <rkward@kde.org>
# SPDX-License-Identifier: GPL-2.0-or-later
[Desktop Entry]
Name=RKWard
Name[ar]=أر كي وارد
Name[bs]=RKWard
Name[ca]=RKWard
Name[ca@valencia]=RKWard
Name[cs]=RKWard
Name[de]=RKWard
Name[en_GB]=RKWard
Name[eo]=RKWard
Name[es]=RKWard
Name[et]=RKWard
Name[eu]=RKWard
Name[fi]=RKWard
Name[fr]=RKWard
Name[ga]=RKWard
Name[gl]=RKWard
Name[he]=RKWard
Name[hu]=RKWard
Name[ia]=RKWard
Name[it]=RKWard
Name[ka]=RKWard
Name[ko]=RKWard
Name[nl]=RKWard
Name[pl]=RKWard
Name[pt]=RKWard
Name[pt_BR]=RKWard
Name[ru]=RKWard
Name[sk]=RKWard
Name[sl]=RKWard
Name[sv]=RKWard
Name[tr]=RKWard
Name[uk]=RKWard
Name[zh_CN]=RKWard
Name[zh_TW]=RKWard
GenericName=Statistics with R
GenericName[ar]=الإحصائيّات بـR
GenericName[ca]=Estadística amb l'R
GenericName[ca@valencia]=Estadística amb R
GenericName[cs]=Statistika s R
GenericName[en_GB]=Statistics with R
GenericName[eo]=Statistiko kun R
GenericName[es]=Estadísticas con R
GenericName[eu]=Estatisti «R»rekin
GenericName[fi]=Tilastolaskenta R:llä
GenericName[fr]=Statistiques avec R
GenericName[ga]=Staitisticí le R
GenericName[gl]=Estatísticas con R
GenericName[he]=סטטיסטיקה עם R
GenericName[hu]=Statisztika az R-rel
GenericName[ia]=Statistica con R
GenericName[it]=Statistiche con R
GenericName[ka]=სტატისტიკა R-სთან ერთად
GenericName[ko]=R로 통계 분석
GenericName[nl]=Statistiek met R
GenericName[pl]=Statystyka z R
GenericName[pt]=Estatísticas com o R
GenericName[pt_BR]=Estatísticas com R
GenericName[ru]=Статистика с R
GenericName[sk]=Štatistika s R
GenericName[sl]=Statistika z R-om
GenericName[sv]=Statistik med R
GenericName[tr]=R ile İstatistik
GenericName[uk]=Статистика з R
GenericName[zh_TW]=利用 R 的統計學
Comment=GUI for the R-project
Comment[ar]=واجهة رسومية لمشروع R
Comment[bs]=GUI za R-projekct
Comment[ca]=IGU per al projecte R
Comment[ca@valencia]=IGU per al projecte R
Comment[cs]=Grafické prostředí pro projekt v R
Comment[de]=Benutzeroberfläche für R-Projekt
Comment[en_GB]=GUI for the R-project
Comment[eo]=GUI por la R-projekto
Comment[es]=Interfaz gráfica para el proyecto R
Comment[et]=R-projekti graafiline kasutajaliides
Comment[eu]=R-proiekturako GUI
Comment[fi]=R-kielen graafinen käyttöliittymä
Comment[fr]=Interface graphique pour le projet R
Comment[ga]=Comhéadan grafach úsáideora don tionscadal R
Comment[gl]=Interface gráfica para o proxecto R.
Comment[he]=ממשק משתמש למיזם R
Comment[hu]=Grafikus felhasználói felület az R projekthez
Comment[ia]=Gui per le projecto de R 
Comment[it]=GUI per il progetto R
Comment[ka]=გრაფიკული ინტერფეისი R-პროექტისთვის
Comment[ko]=R 프로젝트 GUI
Comment[nl]=GUI voor het R-project
Comment[pl]=Interfejs użytkownika dla projektu R
Comment[pt]=Interface gráfica para o projecto R
Comment[pt_BR]=Interface gráfica para o R-project
Comment[ru]=Графический интерфейс пользователя для проекта R
Comment[sk]=GUI pre R-project
Comment[sl]=Grafični vmesnik za projekt R
Comment[sv]=Grafiskt användargränssnitt för R-projektet
Comment[tr]=R projesi için bir kullanıcı arayüzü
Comment[uk]=Графічний інтерфейс проєкту R
Comment[zh_TW]=R-project 專案的圖形介面
Icon=rkward
Exec=rkward --autoreuse %F
Terminal=false
Type=Application
X-DocPath=rkward/index.html
Categories=Qt;KDE;Science;Math;NumericalAnalysis;
MimeType=text/r;application/rdata;text/vnd.kde.rmarkdown;application/vnd.kde.rkward-output
Keywords=statistics;data;r;
Keywords[ar]=إحصائيات;بيانات;r;
Keywords[ca]=estadística;dades;r;
Keywords[ca@valencia]=estadística;dades;r;
Keywords[cs]=statistika;data;r;
Keywords[de]=Statistik;Daten;R;
Keywords[en_GB]=statistics;data;r;
Keywords[eo]=statistiko;datenoj;r;
Keywords[es]=estadísticas;datos;r;
Keywords[et]=statistika;andmed;r;
Keywords[eu]=estatistika;datuak;r;
Keywords[fi]=tilastot;tilasto;tilastolaskenta;data;r;
Keywords[fr]=statistiques;données;r;
Keywords[ga]=staitisticí;sonraí;r;
Keywords[gl]=estatísticas;datos;r;
Keywords[he]=סטטיסטיקה;נתונים;מידע;פרטים;r;אר;סטטיסטיקות;
Keywords[hu]=statisztika;adat;r;
Keywords[ia]=statistics;data;r;
Keywords[it]=statistiche;dati;r;
Keywords[ka]=სტატისტიკა;მონაცემები;R;
Keywords[ko]=statistics;data;r;통계;데이터;
Keywords[nl]=statistiek;data;r;
Keywords[pl]=statystyka;dane;r;
Keywords[pt]=estatísticas;dados;r;
Keywords[pt_BR]=estatística;dados;r;
Keywords[ru]=statistics;data;r;статистика;данные;
Keywords[sk]=štatistika;dáta;r;
Keywords[sl]=statistics;data;r;statistika;podatki;
Keywords[sv]=statistik;data;r;
Keywords[tr]=istatistikler;veri;r;
Keywords[uk]=statistics;data;r;статистика;дані;р;
Keywords[zh_CN]=statistics;data;r;统计;数据
Keywords[zh_TW]=statistics;data;r;資料分析;統計;統計學;
X-AppImage-Version=releases/0.8.3

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.28
