[Desktop Entry]
Name=Ellaism Shell
Comment=The Electron app for Parity UI
Exec=AppRun
Terminal=false
Type=Application
Icon=parity-ui
X-AppImage-Version=0.3.2.21
X-AppImage-BuildId=7dfc0b30-8cfb-11a8-141e-2dc212053642
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
