[Desktop Entry]
Type=Application
Name=EyeStalker
Categories=Science;ImageProcessing;
Exec=/home/tsn/C++/eye_tracking/EyeStalkerOffline-build-release/EyeStalker %F
Icon=eyestalker_logo
Comment=Image-based eye tracking
Terminal=false

[AppImageHub]
X-AppImage-UpdateInformation=
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
