[Desktop Entry]
Type=Application
Name=Ferriteweazle
Comment=Read, write and convert floppy disks with a Greaseweazle
Exec=ferriteweazle
Icon=io.github.hobbo91.ferriteweazle
Terminal=false
Categories=Utility;
Keywords=floppy;disk;flux;greaseweazle;gw;
StartupWMClass=io.github.hobbo91.ferriteweazle

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|hobbo91|Ferriteweazle|latest|Ferriteweazle-*-x86_64.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created Signature made Thu Oct  8 22:38:17 2026 UTC                using EDDSA key 345CDF2C9C985A78A95AC488641B6610CD25223A Can't check signature: No public key 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.17
X-AppImage-Payload-License=MIT
