[Desktop Entry]
Comment=lux image and panorama viewer
Comment[de_DE]=lux Bild- und Panoramabetrachter
X-Category=Graphics
Categories=Graphics;2DGraphics;
Exec=lux %F
GenericName=image and panorama viewer
GenericName[de_DE]=Bild- und Panoramabetrachter
MimeType=image/x-win-bitmap;image/x-exr;image/tiff;image/png;image/jpeg;image/bmp;application/x-ptoptimizer-script;application/lux;
Name=lux
Name[de_DE]=lux
NoDisplay=true
Icon=lux
# Path=
StartupNotify=true
Terminal=false
# TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-AppImage-Version=1.1.8

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
