[Desktop Entry]
Name=flipper
Comment=Flipper is software that use in diffrent business like (shop, pharmacy etc) and was build to manage inventor, sales and used in point of sale.
Exec=AppRun
Terminal=false
Type=Application
Icon=flipper
StartupWMClass=flipper
X-AppImage-Version=0.3.0
Categories=Utility;
X-AppImage-BuildId=1Dmg1GSfLCII08UKO0i9CQt6wZf

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MIT
