[Desktop Entry]
Encoding=UTF-8
Name=bitfighter
GenericName=bitfighter
Type=Application
Comment=A 2-D multi-player space combat game
Exec=bitfighter
Icon=bitfighter
Categories=Game;ArcadeGame;
[AppImageHub]
X-AppImage-UpdateInformation=zsync|https://download.opensuse.org/repositories/home:/dbuck/AppImage/bitfighter-latest-x86_64.AppImage.zsync
X-AppImage-Signature=[don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
