[Desktop Entry]
Name=FontLet
Comment=A package manager for fonts bringing latest and greatest libre fonts to your desktop 
Exec=AppRun
Terminal=false
Type=Application
Icon=fontlet
StartupWMClass=FontLet
X-AppImage-Version=0.0.29-alpha
Categories=Development;
X-AppImage-BuildId=19eZslkaOoktOiqGgwUegDQaLkJ

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
