[Desktop Entry]
Name=HiDPI Fixer
Exec=hidpi-fixer
Icon=hidpi-fixer
Terminal=false
Type=Application
Categories=Utility;Qt;
X-AppImage-Version=744bc67

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|alex-spataru|HiDPI-Fixer|continuous|HiDPI_Fixer*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MIT
