[Desktop Entry]
Name=ZeGrapher
Comment=Math graphing software
Comment[fr]=Logiciel de tracé de courbes
Exec=ZeGrapher
Terminal=false
Type=Application
Icon=ZeGrapher
MimeType=x-scheme-handler/ZeGrapher;
Categories=Office;
X-AppImage-Version=9deef01

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|AdelKS|ZeGrapher|continuous|ZeGrapher*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=NOASSERTION
