[Desktop Entry]
Name=appimagelint
Exec=appimagelint
Icon=appimagelint
Type=Application
Terminal=true
Categories=Utility;

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|TheAssassin|appimagelint|continuous|appimagelint*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
