[Desktop Entry]
Name=OpenComic
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=opencomic
StartupWMClass=OpenComic
X-AppImage-Version=1.6.5
Comment=Comic and manga reader
MimeType=application/x-cbz;application/x-cbr;application/x-cb7;application/x-cbt;application/pdf;application/x-bzpdf;application/x-gzpdf;application/epub+zip;application/x-cbz;application/x-cbr;application/x-cb7;application/x-cbt;application/pdf;application/epub+zip;x-scheme-handler/opencomic;
Categories=Graphics;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=dynamic
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.34
X-AppImage-Payload-License=GPL-3.0
