[Desktop Entry]
Type=Application
Name=Soapy SDR
Comment=I/Q recorder and processor using SoapySDR as backend
Exec=soapy-sdr
Icon=soapy-sdr
Categories=Utility;
Terminal=true

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
