[Desktop Entry]
Type=Application
Name=Cliniface
Version=1.0
Comment=3D Facial Image Visualisation and Analysis
TryExec=Cliniface
Exec=Cliniface %f
Icon=Cliniface
MimeType=application/x-3df;
Terminal=false
Categories=Graphics;Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=NOASSERTION
