[Desktop Entry]
Name=Rats on The Boat
Comment=P2P BitTorrent search engine
Exec=AppRun
Terminal=false
Type=Application
Icon=rats-search
StartupWMClass=Rats on The Boat
X-AppImage-Version=1.1.4.698
Categories=Network;
X-AppImage-BuildId=1HP7KDO6ffAeBREvNmGkfP67yyQ

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MIT
