[Desktop Entry]
Name=Plex Poster Set Helper 2
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=plex-poster-set-helper-2
StartupWMClass=Plex Poster Set Helper 2
X-AppImage-Version=2.4.1
Comment=Download and apply custom poster artwork from ThePosterDB and MediUX to your Plex Media Server
Categories=Utility;

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|molexxxx|plex-poster-set-helper-2|latest|Plex-Poster-Set-Helper-2-*-x86_64.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.25
X-AppImage-Payload-License=MIT
