[Desktop Entry]
Name=Endless Sky
GenericName=Space game
GenericName[de]=Weltraumspiel
GenericName[fr]=Jeu spatial
Comment=Space exploration and combat game
Comment[de]=Weltraumhandels und Kampfsimulator
Comment[fr]=Jeu d'exploration et de combat dans l'espace
Exec=endless-sky
Icon=endless-sky
Terminal=false
Type=Application
Keywords=game;simulator;space;sandbox;rpg;
Categories=Game;Simulation;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
