[Desktop Entry]
Name=electron-xiami
Comment=Xiami Electron desktop application
Exec=AppRun
Terminal=false
Type=Application
Icon=electron-xiami
X-AppImage-Version=1.3.2
X-AppImage-BuildId=a539ff10-11e3-11a8-264a-71921112d788
Categories=Audio;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MIT
