[Desktop Entry]
Type=Application
Name=Steca
Exec=Steca
Icon=Steca
Comment=Steca program
Terminal=false
Categories=Development;
X-AppImage-Version=007f7d3

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|juanmcloaiza|Steca|continuous|Steca*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
