[Desktop Entry]
Name=gKreta
Comment=Based on Electron, this is a replacement for KRÉTA's web interface.
Exec=AppRun
Terminal=false
Type=Application
Icon=gkreta
StartupWMClass=gKreta
X-AppImage-Version=0.7.0
Categories=Education;
X-AppImage-BuildId=1HBU7D4cC6DPwrXYKGpZJOfkrC2

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
