[Desktop Entry]
Name=Sielo
Type=Application
Icon=sielo
Categories=Network;WebBrowser;
Comment=A simple, customizable and fast web browser.
Comment[fr]=Un navigateur internet simple, personnalisable et rapide.
GenericName=Web Browser
GenericName[fr]=Navigateur Internet
Exec=sielo-browser
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;application/x-mimearchive;
Actions=NewTab;NewWindow;PrivateBrowsing;

[Desktop Action NewTab]
Name=Open new tab
Exec=sielo-browser --new-tab

[Desktop Action NewWindow]
Name=Open new window
Exec=sielo-browser --new-window

[Desktop Action PrivateBrowsing]
Name=Start private browsing
Exec=sielo-browser --private-browsing

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
