[Desktop Entry]
Name=Sync
Comment=A browser that empowers DApps on VeChain
Exec=AppRun
Terminal=false
Type=Application
Icon=org.vechain.sync
StartupWMClass=Sync
X-AppImage-Version=1.0.2.5
MimeType=x-scheme-handler/vechain-app;
Categories=Utility;
X-AppImage-BuildId=1GO2VAzkcmCzUc1TNpCHt8DVMPs

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=LGPL-3.0
