[Desktop Entry]
Type=Application
Name=SteamCAD
Comment=2D CAD especially designed to draw steam locomotives
Categories=Graphics;Engineering;
Icon=steamcad
Exec=SteamCAD
X-AppImage-Version=03fe0ec

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|oskardolch|SteamCAD|continuous|SteamCAD*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
