[Desktop Entry]
Name=electronplayer
Exec=AppRun
Terminal=false
Type=Application
Icon=electronplayer
StartupWMClass=electronplayer
X-AppImage-Version=2.0.8.162
Comment=An Electron Based Web Video Services Player. Supporting Netflix, Youtube, Twitch, Floatplane And More
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
