[Desktop Entry]
Name=Organize My Files
Comment=Organize My Files
Exec=AppRun
Terminal=false
Type=Application
Icon=organize-my-files
X-AppImage-Version=2.5.2
X-AppImage-BuildId=3664f290-8c39-11a8-0f67-a7d7dff51680
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
