[Desktop Entry]
Categories=AudioVideo;Player;
Comment=The next-generation video/IPTV player for any UNIX (macOS, Linux, FreeBSD, etc.)
Exec=nextplayer %f
GenericName=Movie
Icon=nextplayer
Keywords=IPTV;Player;Movie;Video;
MimeType=application/ogg;application/vnd.apple.mpegurl;application/vnd.rn-realmedia;application/x-extension-mp4;application/x-flac;application/x-matroska;application/x-ogg;application/xspf+xml;image/vnd.rn-realpix;misc/ultravox;video/3gpp;video/dv;video/mp2t;video/mp4;video/mp4v-es;video/mpeg;video/msvideo;video/ogg;video/quicktime;video/vnd.rn-realvideo;video/webm;video/x-anim;video/x-avi;video/x-flc;video/x-fli;video/x-flv;video/x-m4v;video/x-matroska;video/x-mpeg;video/x-mpeg2;video/x-ms-afs;video/x-ms-asf;video/x-msvideo;video/x-ms-wmv;video/x-ms-wmx;video/x-ms-wvxvideo;video/x-nsv;video/x-ogm+ogg;video/x-theora;video/x-theora+ogg;x-content/video-dvd;x-content/video-svcd;x-content/video-vcd;x-scheme-handler/mms;x-scheme-handler/rtmp;x-scheme-handler/rtsp;application/mxf;
Name=NextPlayer
StartupNotify=true
Type=Application
Terminal=false
Comment[zh_CN]=下一代视频/数字电视播放器
Comment[zh_HK]=下一代视频/数字电视播放器
Comment[zh_TW]=下一代视频/数字电视播放器
Name[zh_CN]=NextPlayer
Name[zh_HK]=NextPlayer
Name[zh_TW]=NextPlayer

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
