[Desktop Entry]
Name=WhatsLNX
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=whatslnx
StartupWMClass=WhatsLNX
X-AppImage-Version=0.4.0
Comment=A minimalist, high-performance unofficial WhatsApp desktop client for Linux
Categories=Network;
MimeType=x-scheme-handler/whatsapp;
Keywords=whatsapp;chat;messenger;message;

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|kmmuntasir|WhatsLNX|latest|WhatsLNX-*.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.25
X-AppImage-Payload-License=GPL-3.0
