[Desktop Entry]
Name=BTS-CE-Lite
Comment=BTS-CE-Lite is a telecommunication network management application
Exec=AppRun
Terminal=false
Type=Application
Icon=bts-ce-lite
StartupWMClass=BTS-CE-Lite
X-AppImage-Version=0.1.0.23
Categories=Utility;
X-AppImage-BuildId=1Lr8INqhl3eyI28CDPEj502iTsK

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=Apache-2.0
