[Desktop Entry]
Name=Homematic Manager
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=homematic-manager
StartupWMClass=homematic-manager
X-AppImage-Version=3.0.0-beta.29
Keywords=Homematic;HomematicIP;CCU;BidCos;eQ-3;smarthome;
Comment=Devices and channels, direct links, paramsets, RSSI, service messages, events and an RPC\nconsole for Homematic and HomematicIP - over XML-RPC and BIN-RPC, with optional ReGa.\n
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=dynamic
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.25
X-AppImage-Payload-License=AGPL-3.0
