[Desktop Entry]
Version=1.0
Terminal=false
Icon=kicad
Type=Application
Categories=Development;Electronics;
Exec=kicad %f
MimeType=application/x-kicad-project;
Name=KiCad
GenericName=EDA Suite
GenericName[it]=CAD elettronico
Comment=Electronic Design Automation suite
Comment[fr]=Suite logicielle de conception électronique
Comment[it]=Suite di progettazione circuiti elettronici
X-Desktop-File-Install-Version=0.22
X-AppImage-Version=5.0.2.glibc2.15

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
