[Desktop Entry]
Name=Cryplicity
Comment=Electron application boilerplate based on React, React Router, Webpack, React Hot Loader for rapid application development
Exec=AppRun
Terminal=false
Type=Application
Icon=electron-react-boilerplate
X-AppImage-Version=1.0.0
X-AppImage-BuildId=1f634ca0-0b0a-11a8-38ed-5bab2391d275
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
