[Desktop Entry]
Type=Application
Name=nmap
GenericName=nmap/ncat/nping bundle in AppImage format
Exec=./AppRun
Icon=nmap
Categories=Network;Security;
Terminal=true
NoDisplay=true
X-AppImage-Version=7.94

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|iTrooz|nmap-appimage|latest|nmap-*.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
