[Desktop Entry]
Name=Meeblip Controller
Comment=MIDI controller for the Meeblip Anode synthesizer
Exec=Meeblip_Controller %F
Icon=appimage-icon
Type=Application
Categories=Audio;Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
