[Desktop Entry]
Name=feebas-desktop-app
Comment=feebas-desktop-app
Exec=AppRun
Terminal=false
Type=Application
Icon=feebas-desktop-app
StartupWMClass=feebas-desktop-app
X-AppImage-Version=0.1.8
MimeType=x-scheme-handler/feebas;
Categories=Development;
X-AppImage-BuildId=1FwUA4Mj0xSFTP2CaNiWa02mDmb

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
