#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=GL_warp2mp4
Comment=GL_warp2mp4 tool
Exec=GL_warp2mp4.bin
Icon=GL_warp2mp4
Terminal=true
Type=Application
Categories=Development;
Name[en_IN]=GL_warp2mp4

X-AppImage-Version=569142e

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
