[Desktop Entry]
Name=i3X Explorer
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=i3x-explorer
StartupWMClass=i3X Explorer
X-AppImage-Version=1.0.0
Comment=Cross-platform desktop application for exploring and interacting with I3X (Industrial Information Interface eXchange) API servers. Browse namespaces, object types, and instances. Monitor real-time values via subscriptions.
Categories=Development;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=dynamic
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.25
X-AppImage-Payload-License=MIT
