[Desktop Entry]
Name=Mélodie
Exec=AppRun %U
Terminal=false
Type=Application
Icon=melodie
StartupWMClass=Mélodie
X-AppImage-Version=
Comment=Melodie is a portable, simple-as-pie music player
MimeType=inode/directory;audio/flac;audio/opus;audio/ogg;audio/mpeg;audio/webm;
Categories=Audio;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MIT
