[Desktop Entry]
Name=Onyx
Comment=Decentralized messaging application based on PSS
Exec=AppRun
Terminal=false
Type=Application
Icon=onyx
X-AppImage-Version=0.5.2
X-AppImage-BuildId=898489f0-86d9-11a8-29bd-79e1fd995762
Categories=Network;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
