[Desktop Entry]
Name=KDiskMark
GenericName=KDiskMark
Comment=A disk drive benchmark tool
Comment[cs]=Nástroj pro otestování výkonnosti datového úložiště
Comment[de]=Ein Festplatten-Benchmark-Tool
Comment[es_MX]=Una herramienta para benchmark de unidades de disco
Comment[fr]=Un outil pour mesurer la performance des disques physiques
Comment[hu]=Lemezek teljesítményét mérő alkalmazás
Comment[it]=Uno strumento per misurare le prestazioni di dischi e memorie fisiche
Comment[pl]=Narzędzie do testowania wydajności dysków
Comment[pt_BR]=Uma ferramenta de benchmark de discos
Comment[ru]=Тестирование производительности накопителей
Comment[sv]=Prestandatest för hårddiskar
Comment[tr]=Disk Sürücü performans ölçüm aracı
Comment[zh_CN]=磁盘测速工具
Keywords=benchmark;disk;
Keywords[es_MX]=benchmark;disco;
Keywords[de]=benchmark;laufwerk;disk;
Keywords[fr]=benchmark;disque;performance;
Keywords[hu]=benchmark;teljesítmény;mérés;lemez;meghajtó;
Keywords[it]=benchmark;disco;prestazioni;
Keywords[pl]=benchmark;pomiar;wydajność;dysk;napęd;
Keywords[pt_BR]=benchmark;disco;
Keywords[ru]=производительность;диск;накопитель;
Keywords[sv]=prestandatest;hårddisk;
Keywords[tr]=benchmark;disk;
Keywords[zh_CN]=基准测试;磁盘;
Exec=kdiskmark
Icon=kdiskmark
Terminal=false
StartupNotify=false
Type=Application
Categories=System;
X-AppImage-Version=266a078

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
