[Desktop Entry]
Name=ImExample
Exec=AppRun
Comment=ImExample is a simple Dear ImGui application example
Icon=ImExample
Type=Application
Categories=Utility

X-AppImage-Name=ImExample
X-AppImage-Version=0.3.0
X-AppImage-Arch=amd64

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|Patitotective|ImTemplate|latest|ImExample-*-amd64.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
