[Desktop Entry]
Name=LiFE Parental Control
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=life-parental-control.png
StartupWMClass=life-parental-control
X-AppImage-Version=1.1.6
X-GNOME-WMClass=life-parental-control
Comment=Parental controls for Linux: kiosk lockdown, web filter, screen time, app blocking and daily app quotas.
Categories=System;

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|valueerrorx|LiFE-Parental-Control|latest|LiFE_Parental_Control-*.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=dynamic
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.25
X-AppImage-Payload-License=GPL-3.0
