#!/usr/bin/env xdg-open

[Desktop Entry]
Name=QPrompt
GenericName=Personal Teleprompter Software
Comment=Personal teleprompter software for all video creators
Version=1.0
Exec=qprompt %u
Icon=com.cuperino.qprompt
Type=Application
Terminal=false
Categories=AudioVideo;Video;Qt;
MimeType=text/html;
Keywords=teleprompter;prompter;autocue;qprompt;imaginary;
X-AppImage-Version=v1.1-a873a2e

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
