[Desktop Entry]
Name=Archipelago
Comment=Archipelago is a terminal emulator built on open web technologies.
Exec=AppRun
Terminal=false
Type=Application
Icon=archipelago
StartupWMClass=Archipelago
X-AppImage-Version=3.0.1.617
Categories=TerminalEmulator;
X-AppImage-BuildId=1EiVYv9MXG4XroOsooGRkXpsQ1p

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MIT
