[Desktop Entry]
Name=ChartCaddy
Exec=ccwww
Icon=net.nontrivial.ccwww
Type=Application
Categories=Office;
Comment=Electronic Medical Records System
Terminal=false
X-AppImage-Arch=x86_64
X-AppImage-Name=ChartCaddy
X-AppImage-Version=2.0.7

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|jbearden0|pub.neocaddy.com|latest|ChartCaddy-*.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.35
