[Desktop Entry]
Name=Musicalypse
Comment=A modern audio player built with Web technologies.
Exec=AppRun
Terminal=false
Type=Application
Icon=musicalypse
X-AppImage-Version=0.5.1
X-AppImage-BuildId=47f7bf90-8083-11a8-2c8f-ddf5b2ce630b
Categories=AudioVideo;Audio;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
