[Desktop Entry]
Name=ubports-installer
Comment=UBports Installer
Exec=AppRun
Terminal=false
Type=Application
Icon=ubports-installer
X-AppImage-Version=0.1.11-beta.133
X-AppImage-BuildId=caa6bfa0-1c05-11a8-07d7-c711e8a5e838
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
