[Desktop Entry]
Type=Application
Name=Subsurface
GenericName=dive log program
Comment=manage and display dive computer data
Icon=subsurface-icon
Exec=subsurface
Terminal=false
Categories=Utility;
Keywords=dive;log;divelog;divecomputer;dives;computer;
X-AppImage-Version=4.8.4-122-gbae683ad5337

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|Subsurface-divelog|subsurface|continuous|Subsurface*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
