[Desktop Entry]
Name=InfiniTex
Comment=A new age editor for academics who seek freedom and people with cryptography needs in rich text environments.
Exec=AppRun
Terminal=false
Type=Application
Icon=infinitex
X-AppImage-Version=0.7.0
X-AppImage-BuildId=520de380-1330-11a8-1025-e54d8138372d
Categories=Science;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
