[Desktop Entry]
Name=Totem ASP
Comment=Totem ASP
Exec=AppRun
Terminal=false
Type=Application
Icon=totem_asp
StartupWMClass=Totem ASP
X-AppImage-Version=0.0.51
Categories=Utility;
X-AppImage-BuildId=1LM6wmJYGEBlZUGPFnU70SRVdpR

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MIT
