[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=1.10.6d
X-AppImage-Name=SeriousSamTSE
Name=Serious Sam The Second Encounter
Type=Application
Comment=Linux port of Serious Sam Classic The Second Encounter
Exec=serioussamse
TryExec=serioussamse
Icon=serioussam
Categories=Game;ActionGame;Shooter;
Keywords=serious;sam;first;person;shooter;singleplayer;multiplayer;

[AppImageHub]
X-AppImage-UpdateInformation=guess
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created Signature made Fri Feb 16 20:55:46 2024 UTC                using RSA key CDC41982C027BAAA Can't check signature: No public key 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
