[Desktop Entry]
Name=DiskHound
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=diskhound
StartupWMClass=diskhound
X-AppImage-Version=0.6.4
Comment=Fast, cross-platform disk space analyzer. Find what's eating your drive, track changes over time, detect duplicates, and reclaim space.
Categories=Utility;
Keywords=disk;space;analyzer;duplicates;cleanup;treemap;
X-GNOME-WMClass=diskhound

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=dynamic
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.34
X-AppImage-Payload-License=MIT
