[Desktop Entry]
Type=Application
Name=Rosalie's Mupen GUI
Comment=An easy to use and cross-platform mupen64plus front-end written in C++ & Qt
Exec=RMG %f
TryExec=RMG
Icon=com.github.Rosalie241.RMG
Terminal=false
Categories=Game;Emulator;Qt;
MimeType=application/x-n64-rom;
Keywords=emulator;mupen64plus;n64;RMG
X-AppImage-Version=v0.9.0

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=bundled
X-AppImage-Runtime=static
X-AppImage-Self-Contained=true
X-AppImage-Payload-License=GPL-3.0
