[Desktop Entry]
Type=Application
Name=Gulden
Icon=gulden
Exec=Gulden.wrapper
Categories=Office;Utility;Network;Finance;P2P;Economy;Qt;
Comment=The payment system of the future today

[AppImageHub]
X-AppImage-UpdateInformation=
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
