[Desktop Entry]
Name=parolu
Comment=Cloud project management software for centralized and efficient collaboration on projects and documents.
Exec=AppRun
Terminal=false
Type=Application
Icon=parolu
X-AppImage-Version=1.6.11
X-AppImage-BuildId=cdd4ca80-e11f-11a7-2408-bd3643c1000d
Categories=Office;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
