[Desktop Entry]
Name=AI Bot Workspace
Comment=An Electron application which includes testing workspaces for some Riddles.io competitions.
Exec=AppRun
Terminal=false
Type=Application
Icon=ai-bot-workspace
X-AppImage-Version=2.4.1.12
X-AppImage-BuildId=ae795900-2079-11a8-0afa-1750564abc77
Categories=Development;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MIT
