[Desktop Entry]
Name=AFS
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=chat2api
StartupWMClass=chat2api
X-AppImage-Version=1.6.0
Comment=AFS 管理器 - 统一管理多个 AI 服务提供商，提供 OpenAI 兼容 API 接口
Categories=Utility;
MimeType=x-scheme-handler/chat2api;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=dynamic
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.25
