[Desktop Entry]
Name=Radix Wallet
Comment=
Exec=AppRun
Terminal=false
Type=Application
Icon=radix-wallet
X-AppImage-Version=1.1.1-alpha
X-AppImage-BuildId=eb03f8e0-8bf3-11a8-2a22-73f937a60e4b
Categories=Finance;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
