[Desktop Entry]
Name=rotki
Exec=AppRun
Terminal=false
Type=Application
Icon=rotki
StartupWMClass=rotki
X-AppImage-Version=1.6.1
Comment=A portfolio tracking, asset analytics and tax reporting application specializing in Cryptoassets that respects your privacy
Categories=Finance;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
