[Desktop Entry]
Name=Aquiis
Comment=Multi-tenant property management system for small landlords
Exec=aquiis-property-management
Icon=aquiis-property-management
Type=Application
Categories=Office;Finance;
Terminal=false
StartupWMClass=Aquiis
X-AppImage-Version=1.0.1
X-AppImage-Name=Aquiis
X-AppImage-Arch=x86_64
Keywords=property;management;landlord;rental;lease;tenant;invoice;
