{% if post.installation %}
  <h2 id="installation">Download</h2>
  <p><b>Behold!</b> AppImages are usually not verified by others. Follow these instructions only if you trust the developer of the software. Use at your own risk!</p>
  {% for dist in post.installation %}
    <h3 id="installation-{{ dist.system }}">{{ dist.system }}</h3>
    {% for repo in dist.info %}
      <p>Download version {{ repo.version }} and make it executable by entering the following commands in a terminal:</p>
      <div class="highlight">
        <span class="mega-octicon octicon-terminal"></span>
        <pre><code>wget {{ repo.repository }}
chmod +x {{ repo.package }}</code></pre>
      <p>Of course, you can also just download <a href="{{ repo.version }}">{{ repo.version }}</a>.</p>
      </div>
    {% endfor %}
  {% endfor %}
{% endif %}
