{% if post.screenshots %}
  <div id="screenshots">
    {% for screenshot in post.screenshots %}
      <img src="{{ site.baseurl }}/img/windows/placeholder.png" data-src="{% if screenshot contains '://' %}{{screenshot}}{% else %}{{ site.baseurl }}/database/{{ screenshot }}{% endif %}" alt="Screenshot of {{ post.title }}" />
      <noscript>
        <img src="{% if screenshot contains '://' %}{{screenshot}}{% else %}{{ site.baseurl }}/database/{{ screenshot }}{% endif %}" alt="Screenshot" />
      </noscript>
    {% endfor %}
  </div>
  <p id="showcase" style="text-align:center">
    {% for link in post.links %}
      {% case link.type %}
      {% when "Screenshots" or "Videos" %}
        {% assign prefix = "{{ site.baseurl }}/database/" %}
      {% else %}
        {% continue %}
      {% endcase %}
      <a href="{{ prefix }}{{ link.url }}">
        {% if link.name %}{{ link.name }}{% else %}{{ link.type }}{% endif %}</a>{% if forloop.last == false %}, {% endif %}
    {% endfor %}
  </p>
{% endif %}

{% if post.appdata.Description.C %}
  <blockquote>{{ post.appdata.Description.C }}</blockquote>
{% elsif post.description %}
  <blockquote>{{ post.description }}</blockquote>
{% endif %}

{% if post.authors %}
  <p id="authors">
    <b>Authors</b>:
    {% include list_authors.html %}
  </p>
{% endif %}

{% if post.links %}
  <p id="links">
    <b>Links</b>:
    {% include list_links.html %}
  </p>
{% endif %}

{% if post.appdata.Url.donation %}
<p>Donate: <a href="{{ post.appdata.Url.donation }}">{{ post.appdata.Url.donation }}</a></p>
{% elsif post.description %}
 <p>If you would like to see a donation link for the application here, please ask the appliction author to include on in the AppStream metainfo file</p>
{% endif %}
