<hr>

<h2 id="installation">Usage</h2>
<p>{{ page.name | remove: ".md" }} is available as an <a href="https://appimage.org">AppImage</a> which means "one app = one file", which you can download and run on your Linux system while you don't need a package manager and nothing gets changed in your system. Awesome!</p>
<p>AppImages are single-file applications that run on most Linux distributions. Download an application, make it executable, and run! No need to install. No system libraries or system preferences are altered.
Most AppImages run on recent versions of Arch Linux, CentOS, Debian, Fedora, openSUSE, Red Hat, Ubuntu, and other common desktop distributions.</p>
<h3>Running {{ page.name | remove: ".md" }} on Linux without installation</h3>
Unlike other applications, AppImages do not need to be installed before they can be used. However, they need to be marked as executable before they can be run. This is a Linux security feature.</p>
<p><b>Behold!</b> AppImages are usually not verified by others. Follow these instructions only if you trust the developer of the software. Use at your own risk!</p>
<p>Download the {{ page.name | remove: ".md" }} AppImage and <a href="https://discourse.appimage.org/t/how-to-run-an-appimage/80">make it executable using your file manager</a> or by entering the following commands in a terminal:</p>
<div class="highlight">
  <span class="mega-octicon octicon-terminal"></span>
  <pre><code>chmod +x ./*.AppImage</code></pre>
</div>
<p>Then double-click the AppImage in the file manager to open it.</p>

<h3>Sandboxing {{ page.name | remove: ".md" }}</h3>
<p>If you want to restrict what {{ page.name | remove: ".md" }} can do on your system, you can run the AppImage in a sandbox like <a href="https://firejail.wordpress.com">Firejail</a>. This is entirely optional and currently needs to be configured by the user.</p>

<h3>Updating {{ page.name | remove: ".md" }}</h3>
<p>If you would like to update to a new version, simply download the new {{ page.name | remove: ".md" }} AppImage.</p>

{% if post.desktop.AppImageHub.X-AppImage-UpdateInformation %}
  <p>The {{ page.name | remove: ".md" }} AppImage also can be updated using <a href="https://github.com/AppImage/AppImageUpdate">AppImageUpdate</a>. Using this tool, {{ page.name | remove: ".md" }} can be updated by downloading only the portions of the AppImage that have actually changed since the last version.</p>
{% endif %}

<h3>Integrating AppImages into the system</h3>
<p>If you would like to have the executable bit set automatically, and would like to see {{ page.name | remove: ".md" }} and other AppImages integrated into the system (menus, icons, file type associations, etc.), then you may want to check the optional <a href="https://github.com/AppImage/appimaged">appimaged</a> daemon.</p>

<hr>

<h2>Note for application authors</h2>

<p>Thanks for distributing {{ page.name | remove: ".md" }} in the AppImage format for all common Linux distributions. Great! Here are some ideas on how to make it even better.</p>

<h3>Pro Tips for further enhancing the {{ page.name | remove: ".md" }} AppImage</h3>

{% if post.desktop.AppImageHub.X-AppImage-UpdateInformation %}
{% else %}
    <p>Please consider to add <a href="https://github.com/AppImage/AppImageSpec/blob/master/draft.md#update-information">update information</a> to the {{ page.name | remove: ".md" }} AppImage and ship a <code>.zsync</code> file so that it can be updated using <a href="https://github.com/AppImage/AppImageUpdate">AppImageUpdate</a>. Tools like <a href="https://github.com/AppImage/AppImageKit#appimagetool-usage">appimagetool</a> and <a href="https://github.com/probonopd/linuxdeployqt#usage">linuxdeployqt</a> can do this for you easily.</p>
{% endif %}

{% if post.appdata.ID %}
    <p>Thanks for shipping AppStream metainfo inside your AppImage. Please open a pull request on <a href="https://github.com/AppImage/appimage.github.io/blob/master/data/{{ page.name | remove: ".md" }}">https://github.com/AppImage/appimage.github.io/blob/master/data/{{ page.name | remove: ".md" }}</a> if you have changed it and would like to see this page updated accordingly.</p>
{% else %}
    <p>Improve this entry by shipping an <a href="https://docs.appimage.org/packaging-guide/optional/appstream.html">AppStream metainfo file</a> inside the AppImage in the <code>usr/share/metainfo</code> directory. There is an <a href="https://appimage.github.io/simple-appstream-generator/">online tool</a> that makes it easy to make one.</p>
    <p>The screenshot for {{ page.name | remove: ".md" }} has been automatically taken during a fully automated test. You can specify the URL to a nicer one by shipping an <a href="https://docs.appimage.org/packaging-guide/index.html">AppStream metainfo file</a>.</p>
{% endif %}

{% if post.appdata.Url.donation %}
{% else %}
     <p>If you would like to see a donation link for the application here, please include one in the AppStream data.</p>
{% endif %}

<p><a href="https://github.com/AppImage/AppImageHub/commits/master/{{ page.path }}"><span class="octicon octicon-mark-github"></span> History of this page</a></p>
<p><a href="https://github.com/AppImage/appimage.github.io/blob/master/data/{{ page.name | remove: ".md" }}"><span class="octicon octicon-pencil"></span> Edit the input for this page</a></p>
