{% if post.layout != 'xxxxxxxx' %}
  <a style="font-weight:bold" href="{{ site.baseurl }}{{ post.url }}">
{% endif %}

{% if post.screenshots %}
  <div id="screenshots">
    {% for screenshot in post.screenshots %}
      <img src="{{ site.baseurl }}/img/windows/placeholder.png" data-src="{% if screenshot contains '://' %}{{screenshot}}{% else %}{{ site.baseurl }}/database/{{ screenshot }}{% endif %}" alt="Screenshot of {{ page.name | remove: ".md" }}" />
      <noscript>
        <img src="{% if screenshot contains '://' %}{{screenshot}}{% else %}{{ site.baseurl }}/database/{{ screenshot }}{% endif %}" alt="Screenshot" />
      </noscript>
    {% endfor %}
  </div>
  <p id="showcase" style="text-align:center">
    {% for link in post.links %}
      {% case link.type %}
      {% when "Screenshots" or "Videos" %}
        {% assign prefix = "{{ site.baseurl }}/database/" %}
      {% else %}
        {% continue %}
      {% endcase %}
      <a href="{{ prefix }}{{ link.url }}">
        {% if link.name %}{{ link.name }}{% else %}{{ link.type }}{% endif %}</a>{% if forloop.last == false %}, {% endif %}
    {% endfor %}
  </p>
{% endif %}

{% if post.layout != 'xxxxxxxx' %}
  </a>
{% endif %}
  
{% if post.appdata.Description.C %}
  <blockquote>{{ post.appdata.Description.C }}</blockquote>
{% elsif post.description %}
  <blockquote>{{ post.description }}</blockquote>
{% endif %}

{% if post.authors %}
  <p id="authors">
    <b>Authors</b>:
    {% include list_authors.html %}
  </p>
{% endif %}

{% if page.layout == 'app' and post.desktop.AppImageHub.X-AppImage-Libc %}
  {% assign hub = post.desktop.AppImageHub %}
  <p id="compatibility">
    <b>Compatibility</b>:
    {% if hub.X-AppImage-Self-Contained == true %}
      Self-contained, does not depend on the C library of the system
      ({% if hub.X-AppImage-Libc == 'none' %}contains no dynamically linked code{% else %}ships its own C library{% endif %})
    {% elsif hub.X-AppImage-Glibc-Required %}
      Uses the C library of the system (may need glibc {{ hub.X-AppImage-Glibc-Required | remove: "GLIBC_" }} or later)
    {% else %}
      Uses the C library of the system
    {% endif %}
  </p>
{% endif %}

<p id="links">
  {% include list_links.html %}
</p>
