<article class="post">

  <header>
    <a href="{{ site.baseurl }}{{ post.url }}">
      <h1 id="{% if post.title %}{{ post.title }}{% else %}{{ post.name | remove: ".md" }}{% endif %}">{% if post.title %}{{ post.title }}{% else %}{{ post.name | remove: ".md" }}{% endif %}</h1>
      {% if post.generic %}<p>{{ post.generic }}</p>{% endif %}
    </a>
  </header>

  <div class="entry">
    {% if post.layout == 'app' %}
      {% include app_teaser.html %}
    {% else %}
      {{ post.content}}
    {% endif %}
  </div>

  <p>
    <a style="font-weight:bold" href="{{ site.baseurl }}{{ post.url }}">
      Read more...
    </a>
  </p>

</article>
