    <meta charset="utf-8" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
    <!-- The following breaks external screenshots coming from AppStream, hence disabling -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://cdnjs.cloudflare.com https://fonts.googleapis.com https://disqus.com https://*.disqus.com https://*.disquscdn.com https://AppImage.rasalhague.uberspace.de https://*.youtube.com;" /> -->
    <meta http-equiv="X-Content-Type-Options" content="nosniff" />
    <meta http-equiv="X-Frame-Options" content="DENY" />
    <meta http-equiv="X-XSS-Protection" content="1; mode=block" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="referrer" content="no-referrer" />
    
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }} Ubuntu, Arch Linux, CentOS, Debian, Fedora, openSUSE, Red Hat" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }} Ubuntu, Arch Linux, CentOS, Debian, Fedora, openSUSE, Red Hat" />
    {% else %}
    <meta name="description" content="{{ site.description }} Ubuntu, Arch Linux, CentOS, Debian, Fedora, openSUSE, Red Hat">
    <meta property="og:description" content="{{ site.description }} Ubuntu, Arch Linux, CentOS, Debian, Fedora, openSUSE, Red Hat" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    <meta property="og:title" content=" {% if page.title %}{{ page.title | replace: "_", " " }}{% else %}{{ page.name | remove: ".md" | replace: "_", " " }}{% endif %}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@AppImages">
    <meta name="twitter:creator" content="@probonopd">
    <meta name="twitter:title" content=" {% if page.title %}{% else %}{{ page.name | remove: ".md" | replace: "_", " " }}{% endif %} AppImage for Linux">
    <meta name="twitter:description" content="{{ page.description| strip_html }} - run on Linux without installation">
    <meta name="twitter:image" content="{% if page.screenshots[0] contains '://' %}{{page.screenshots[0]}}{% else %}{{ site.url }}{{ site.baseurl }}/database/{{ page.screenshots[0] }}{% endif %}">
