[Desktop Entry]
Name=Raw2Film
Comment=Raw image editor with built-in film emulation
Exec=Raw2Film
Icon=raw2film
Type=Application
Categories=Graphics;Photography;
Terminal=false

[AppImageHub]
X-AppImage-UpdateInformation=zsync|https://github.com/JanLohse/raw2film/releases/download/v0.12.6/Raw2Film-0.12.6.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.35
X-AppImage-Payload-License=MIT
