[Desktop Entry]
Name=WebCatalog
Comment=WebCatalog helps you turn any website into desktop app with just one click.
Exec=AppRun
Terminal=false
Type=Application
Icon=webcatalog
X-AppImage-Version=12.3.1.223
X-AppImage-BuildId=8f251f70-558b-11a8-229d-4f724fc923e9
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MPL-2.0
