[Desktop Entry]
Name=ChainlessChain
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=chainlesschain-desktop-vue
StartupWMClass=ChainlessChain
X-AppImage-Version=5.0.3-alpha.138
Comment=ChainlessChain is a decentralized personal AI management system with hardware-level security.
MimeType=x-scheme-handler/chainlesschain;
Categories=Office;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=dynamic
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.39
