[Desktop Entry]
Name=DoXM Remote Control
Comment=The remote control client for DoXM.
Exec=AppRun
Terminal=false
Type=Application
Icon=doxm_remote_control
StartupWMClass=DoXM Remote Control
X-AppImage-Version=2018.11.12
Categories=Utility;
X-AppImage-BuildId=1Ctl1vChvD0Ywi9X5Vgv0q524jb

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
