[Desktop Entry]
Name=Standard Notes
Comment=A simple and private place for your notes, thoughts, and life’s work.
Exec=AppRun
Terminal=false
Type=Application
Icon=standard-notes
X-AppImage-Version=2.1.21
X-AppImage-BuildId=6e895950-1e42-11a8-3af7-53074d45d605
Categories=Office;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
