[Desktop Entry]
Name=StockStalk
Comment=Your stocks on your desktop
Exec=AppRun
Terminal=false
Type=Application
Icon=stockstalk
X-AppImage-Version=1.0.7
X-AppImage-BuildId=83adb3a0-2958-11a8-1134-a502664894c6
Categories=Finance;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
