[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=3.1.12
X-AppImage-Name=Bottles
Name[it]=Bottles
Name[fr]=Bouteilles
Name[de]=Bottles
Name[pt]=Bottles
Name[es]=Botellas
Name[nb_NO]=Flasker
Name[pt_BR]=Bottles
Name[id]=Bottles
Name[da]=Flasker
Name[nl]=Bottles
Name[tr]=Şişeler
Name[sv]=Bottles
Name[ru]=Bottles
Name[eo]=Boteloj
Name[zh_Hans]=酒樽
Name[ar]=باتلز
Name[fil]=Bottles
Name[fi]=Pullot
Name[sk]=Bottles
Name[ja]=Bottles
Name[hr]=Butelje
Name=Bottles
Comment[it]=Gestisci con facilità i prefissi wine
Comment[fr]=Gérer facilement vos wineprefix
Comment[de]=Wineprefixes einfach verwalten
Comment[pt]=Define um wineprefix
Comment[es]=Gestione los prefijos de Wine fácilmente
Comment[nb_NO]=Håndter wineprefiks enkelt
Comment[pt_BR]=Gerencie o wineprefix facilmente
Comment[id]=Kelola wineprefix dengan mudah
Comment[da]=Administrer nemt wine-præfiks
Comment[nl]=Makkelijk beheer van wineprefix
Comment[tr]=Wineprefix'leri kolayca yönetin
Comment[sv]=Enkel hantering av Wine-prefix
Comment[ru]=Простое управление wine префиксами
Comment[eo]=Facile administru Wine-prefiksojn
Comment[zh_Hans]=轻松地管理wineprefix
Comment[ar]=إدارة wineprefix بسهولة
Comment[fil]=Madaliang pagayos ng wineprefix
Comment[fi]=Hallitse helposti wine-etuliitettä
Comment[ja]=wineprefixを簡単に管理
Comment[hr]=Jednostavno upravljaj Wine mapama
Comment=Easily manage wineprefix
Icon=com.usebottles.bottles
Exec=bottles
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;application/x-wine-extension-msp;

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|AppImage-*x86_64.AppImage.zsync
X-AppImage-Signature=[don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
