[Desktop Entry]
Name=Rebaslight
Comment=Rebaslight - an easy to use special effects editor
Exec=AppRun
Terminal=false
Type=Application
Icon=rebaslight
X-AppImage-Version=3.3.1.34
X-AppImage-BuildId=a725a5f0-f81a-11a7-15ec-63acfe2f85ac
Categories=Graphics;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
