[Desktop Entry]
Name=Digitales Klassenzimmer
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=digitales-klassenzimmer
StartupWMClass=Digitales Klassenzimmer
X-AppImage-Version=2022.9.1
Comment=HOPP Foundation - Digitales Klassenzimmer
MimeType=x-scheme-handler/jitsi-meet;
Categories=VideoConference;AudioVideo;Audio;Video;Network;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=[don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=dynamic
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.17
X-AppImage-Payload-License=Apache-2.0
