[Desktop Entry]
Name=Olive
Comment=Professional open-source non-linear video editor
Exec=olive-editor
Icon=org.olivevideoeditor.Olive
Terminal=false
Type=Application
Categories=AudioVideo;Recorder;
MimeType=application/vnd.olive-project;
StartupNotify=true
X-AppImage-Version=5e81565

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|olive-editor|olive|continuous|Olive*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
