[Desktop Entry]
Name=Sync-my-L2P
Comment=Sync-my-L2P — L2P synchronisation tool
Comment[de]=Sync-my-L2P – Synchronsiert deine Dokumente aus dem L2P mit deinem Rechner
Exec=Sync-my-L2P
Icon=sync-my-L2P
Terminal=false
Type=Application
Categories=Qt;FileTransfer;Network;
X-AppImage-Version=156f88d

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
