#!/usr/bin/env xdg-open

[Desktop Entry]
Categories=Graphics;
Exec=gltf-insight
GenericName=glTF viewer
Icon=gltf-insight
Name=gltf-insight
Type=Application
X-AppImage-Version=05afe1b

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|lighttransport|gltf-insight|continuous|gltf-insight*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
