[Desktop Entry]
Type=Application
Name=Tumblr Downloader Client
Exec=tumblr-downloader-gui
Icon=tumblr-downloader-client
Categories=AudioVideo;

[AppImageHub]
X-AppImage-UpdateInformation=
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
