[Desktop Entry]
Name=Android Messages
Comment=Messages for web, as a desktop app
Exec=AppRun
Terminal=false
Type=Application
Icon=android-messages-desktop
X-AppImage-Version=0.7.0
X-AppImage-BuildId=93971560-906c-11a8-1269-d92c8163b664
Categories=Chat;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MIT
