[Desktop Entry]
Name=LightningPeach wallet
Comment=LightningPeach wallet
Exec=AppRun
Terminal=false
Type=Application
Icon=lightning-peach-wallet
StartupWMClass=LightningPeach wallet
X-AppImage-Version=0.2.0-testnet.2
Categories=Utility;
X-AppImage-BuildId=1BR5lypAjODCT6ZEZGQ8v5O23LF

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=Apache-2.0
