[Desktop Entry]
Name=Ledger Live
Comment=Ledger Live - Desktop
Exec=AppRun
Terminal=false
Type=Application
Icon=ledger-live-desktop
X-AppImage-Version=0.1.0-alpha.11
X-AppImage-BuildId=03ac1090-709b-11a8-1f68-e36b89d55747
Categories=Finance;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MIT
