[Desktop Entry]
Type=Application
Name=MhlFileVerify
GenericName=MHL Verify
Comment=GUI Wrapper for verify data
Icon=app_logo
Exec=MhlFileVerify
Terminal=true
Categories=Utility
X-AppImage-Version=0.5
# StartupWMClass=<wmclass>
StartupWMClass=<string>

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.34
