# If you want Electrum Rhodium to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-xrc.desktop

[Desktop Entry]
Comment=Lightweight Bitcoin Rhodium Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-xrc %u"
GenericName[en_US]=Bitcoin Rhodium Wallet
GenericName=Bitcoin Rhodium Wallet
Icon=electrum-xrc
Name[en_US]=Electrum Bitcoin Rhodium Wallet
Name=Electrum Bitcoin Rhodium Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoin-rhodium;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-xrc --testnet %u"
Name=Testnet mode

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
