[Desktop Entry]
Type=Application
Name=Sheetopia
Comment=Sheet music app
Exec=sheetopia
Icon=de.julianh.sheetopia
Categories=AudioVideo;Audio;Music;
Keywords=sheet;music;score;pdf;
StartupWMClass=de.julianh.sheetopia
StartupNotify=true
Terminal=false
X-AppImage-Version=0.6.0

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|juho05|sheetopia|latest|Sheetopia-*-linux-x86-64.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.34
X-AppImage-Payload-License=MPL-2.0
