[Desktop Entry]
Name=blackmirror
Comment=two-party automatic writing tool
Exec=AppRun
Terminal=false
Type=Application
Icon=blackmirror
X-AppImage-Version=7.7.7
X-AppImage-BuildId=9b47a650-2bb1-11a8-2abc-4b5da1e488c1
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
