[Desktop Entry]
Type=Application
Name=SavvyCAN
GenericName=CANBus reverse engineering tool
Comment=Facilitates reverse engineering of canbus captures
Exec=SavvyCAN
Icon=SavvyCAN
Terminal=false
Categories=Development;Electronics;IDE;
MimeType=text/x-application;
Keywords=embedded electronics;electronics;canbus;reverse engineering;
X-AppImage-Version=7d1893a

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|collin80|SavvyCAN|continuous|SavvyCAN*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MIT
