[Desktop Entry]
Name=Reactotron
Comment=Reactotron desktop mode engage!
Exec=AppRun
Terminal=false
Type=Application
Icon=reactotron-app
StartupWMClass=Reactotron
X-AppImage-Version=2.4.4.154
Categories=Development;
X-AppImage-BuildId=1EACeio9wZbGosBTrKRct0IMOu8

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
