[Desktop Entry]
Type=Application
Name=Astonischika
GenericName=Party RPG
GenericName[de]=Party-Rollenspiel
Comment=A pixel-art party RPG: three heroes, a branching map, the boss on top
Comment[de]=Ein Pixel-Rollenspiel: drei Helden, eine verzweigte Karte, oben der Boss
Exec=Astonischika
Icon=Astonischika
Terminal=false
Categories=Game;RolePlaying;
Keywords=rpg;role playing;party;turn based;pixel;dungeon;loot;heroes;
Keywords[de]=Rollenspiel;Party;Rundenbasiert;Pixel;Verlies;Beute;Helden;
StartupNotify=true
StartupWMClass=Astonischika
X-AppImage-Version=1.0.0

[AppImageHub]
X-AppImage-UpdateInformation=zsync|https://www.budbrain.de/appimage/astonischika-x86_64.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
