[Desktop Entry]
Version=1.0
Icon=icon
Type=Application
Name=eNoseAnnotator
Exec=app
Categories=Utility;
X-AppImage-Version=db6c31a

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|Tilagiho|eNoseAnnotator|continuous|eNoseAnnotator*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
