[Desktop Entry]
Name=MuWire
Exec=MuWire
Icon=MuWire-48x48
Type=Application
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=Signature made Wed 19 May 2021 01:49:14 AM UTC                using RSA key A72832072D525E41 Can't check signature: No public key 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
