[Desktop Entry]
Name=Steem Messenger
Comment=Messer for Steem
Exec=AppRun
Terminal=false
Type=Application
Icon=steemmessenger
X-AppImage-Version=0.1.0
X-AppImage-BuildId=79effdf0-4e33-11a8-3c36-79c0fb2017c0
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MIT
