[Desktop Entry]
Name=genet
Comment=General Purpose Network Analyzer
Exec=AppRun
Terminal=false
Type=Application
Icon=genet
StartupWMClass=genet
X-AppImage-Version=0.1.0.61
Categories=Network;
X-AppImage-BuildId=18I9wuymogRv1xtw2S9xMgt2raN

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
