[Desktop Entry]
Version=1.0
Type=Application
Name=CP Editor
GenericName=Code editor for competitive programming
GenericName[ru]=Редактор кода для спортивного программирования
GenericName[zh_CN]=算法竞赛代码编辑器
Exec=/usr/bin/cpeditor
Comment=CP Editor is a Qt-based, lightweight and cross-platform code editor specially designed for competitive programming.
Comment[RU]=CP Editor - это легкий кросс-платформенный редактор кода на базе Qt, специально разработанный для спортивного программирования.
Comment[zh_CN]=CP Editor 是一个基于 Qt 的轻量级跨平台代码编辑器，专为算法竞赛设计。
Icon=cpeditor
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Development;TextEditor;Qt;
X-AppImage-Version=6.8.4

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
