[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=1.23.0
X-AppImage-Name=ImHex
Name=ImHex
Comment=ImHex Hex Editor
GenericName=Hex Editor
Exec=imhex %U
Icon=imhex
Type=Application
StartupNotify=true
Categories=Development;IDE;
StartupWMClass=imhex

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|WerWolv|ImHex|latest|imhex-*.AppImage.zsync
X-AppImage-Signature=keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
