[Desktop Entry]
Name=Gaphor
Comment=The simple modeling tool
Comment[es]=La sencilla herramienta de modelado
Comment[fr]=L'outil de modélisation facile
Comment[hu]=Egyszerű modellező eszköz
Comment[nl]=De eenvoudige modelleertool
Comment[pl]=Proste narzędzie do modelowania
Exec=gaphor-exe %f
Icon=org.gaphor.Gaphor
Terminal=false
Type=Application
Categories=GTK;GNOME;Development;ProjectManagement;
MimeType=application/x-gaphor
Keywords=UML;RAAML;C4;SysML;Design;Graph;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=dynamic
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.30
