[Desktop Entry]
Name[ar]=Peek
Name[ca]=Peek
Name[cs]=Peek
Name[de]=Peek
Name[el]=Peek
Name[eo]=Peek
Name[es]=Peek
Name[eu]=Peek
Name[fr]=Peek
Name[hr]=Peek
Name[id]=Peek
Name[it]=Peek
Name[lt]=Peek
Name[nb]=Peek
Name[nl]=Peek
Name[pl]=Peek
Name[pt_BR]=Peek
Name[pt_PT]=Peek
Name[ru]=Peek
Name[sr]=Виркало
Name[sv]=Peek
Name[uk_UA]=Peek
Name[zh_CN]=Peek
Name[zh_TW]=Peek
Name=Peek
Exec=peek
GenericName[ar]=مسجل صور متحركة
GenericName[ca]=Enregistrador de GIF animats
GenericName[cs]=Nahrává dění na obrazovce do formátu GIF
GenericName[de]=Aufnahme von GIF-Animationen
GenericName[eo]=GIF-movbilda registrilo
GenericName[es]=Grabador de GIF animados
GenericName[eu]=GIF animatuen grabagailua
GenericName[fr]=Enregistreur de GIF animés
GenericName[hr]=Snimač GIF animacija
GenericName[id]=Perekam Animasi GIF
GenericName[it]=Registratore di GIF animate
GenericName[ko]=애니메이션 GIF 레코더
GenericName[lt]=Animuotų GIF įrašytuvas
GenericName[nb]=Animert GIF-opptaker
GenericName[nl]=Bewegende GIF-opname
GenericName[pl]=Animowana nagrywarka GIF
GenericName[pt_BR]=Gravador de GIF animado
GenericName[pt_PT]=Gravador de GIF animado
GenericName[ru]=Съёмка анимированных GIF
GenericName[sr]=Снимач анимираних GIF-ова
GenericName[sv]=Animerad GIF-inspelare
GenericName[uk_UA]=Записувач GIF анімації
GenericName[zh_CN]=GIF 动画录制器
GenericName[zh_TW]=GIF 動畫錄製軟體
GenericName=Animated GIF recorder
Comment[ar]=تسجيل صور متحركة قصيرة من شاشة حاسوبك
Comment[cs]=Nahrávat dění na obrazovce do formátu GIF
Comment[de]=Kurze GIF-Animationen vom Bildschirm aufnehmen
Comment[eo]=Registri mallongajn GIF-movbildojn de via ekrano
Comment[es]=Graba pequeños gifs animados de tu pantalla
Comment[eu]=Grabatu zure pantailaren gif animatu txikiak
Comment[fr]=Enregistrer des courtes images GIF animés de votre écran
Comment[hr]=Snimi kratku GIF animaciju slika s pozadine
Comment[id]=Rekam gambar animasi GIF pendek dari layar anda
Comment[it]=Registra piccole animazioni GIF dal tuo schermo
Comment[ko]=화면에서 짧은 애니메이션 GIF 이미지들을 녹화합니다
Comment[lt]=Įrašinėti trumpus animuotus GIF paveikslus iš jūsų ekrano
Comment[nb]=Ta opp korte animerte GIF-avbildninger av skjermen din
Comment[nl]=Korte bewegende GIF-afbeeldingen opnemen van uw scherm
Comment[pl]=Nagraj krótkie animowane obrazy GIF z twojego ekranu
Comment[pt_BR]=Grave pequenas GIFs animadas a partir da sua tela
Comment[pt_PT]=Grava uma curta animação de imagens GIF a partir do ecrã
Comment[ru]=Записывайте короткие анимированные GIF со своего экрана
Comment[sr]=Снимајте кратке анимиране GIF слике на вашем екрану
Comment[sv]=Spela in korta animerade GIF-bilder från skärmen
Comment[uk_UA]=Запис коротких анімованих GIF зображень з екрану
Comment[zh_CN]=录制屏幕，制成小巧的 GIF 动画
Comment[zh_TW]=從您的螢幕上錄製簡短的 GIF 動畫
Comment=Record short animated GIF images from your screen
Keywords[cs]=záznam obrazovky;nahrávání obrazovky;snímání obrazovky;GIF;WebM;APNG;
Keywords[de]=screencast;screen recorder;Bildschirmaufnahme;GIF;WebM;APNG;
Keywords[eo]=ekranregistrado;ekrana registrilo;GIF;WebM;APNG;
Keywords[eu]=pantaila grabazioa;pantaila grabagailua;pantaila kaptura;GIF;WebM;APNG;
Keywords[fr]=screen recorder;screen capture;GIF;WebM;APNG;
Keywords[lt]=ekrano įrašas;ekrano įrašymas;ekrano rašytuvas;GIF;WebM;APNG;
Keywords[nb]=skjerminnspilling;skjermopptaker;skjermklipp;GIF;WebM;APNG;
Keywords[nl]=screencast;schermopname;vastleggen;GIF;WebM;APNG;
Keywords[pl]=zrzut ekranu;rejestrator ekranu;przechwytywanie ekranu;GIF;WebM;APNG;
Keywords[ru]=screencast;screen recorder;screen capture;GIF;WebM;APNG;
Keywords[sr]=screencast;screen recorder;screen capture;GIF;WebM;APNG;скринкест;снимање екрана;хватање екрана;ГИФ;Вебм;АПНГ;skrinkest;snimanje ekrana;hvatanje ekrana;VebM;
Keywords[sv]=skärminspelning;skärminspelare;skärmklipp;GIF;WebM;APNG;
Keywords[zh_CN]=截屏；屏幕录制；屏幕抓取；GIF;WebM;APNG;
Keywords=screencast;screen recorder;screen capture;GIF;WebM;APNG;
Icon[ar]=com.uploadedlobster.peek
Icon[ca]=com.uploadedlobster.peek
Icon[cs]=com.uploadedlobster.peek
Icon[de]=com.uploadedlobster.peek
Icon[el]=com.uploadedlobster.peek
Icon[eo]=com.uploadedlobster.peek
Icon[es]=com.uploadedlobster.peek
Icon[eu]=com.uploadedlobster.peek
Icon[fr]=com.uploadedlobster.peek
Icon[hr]=com.uploadedlobster.peek
Icon[id]=com.uploadedlobster.peek
Icon[it]=com.uploadedlobster.peek
Icon[ko]=com.uploadedlobster.peek
Icon[lt]=com.uploadedlobster.peek
Icon[nap]=com.uploadedlobster.peek
Icon[nb]=com.uploadedlobster.peek
Icon[nl]=com.uploadedlobster.peek
Icon[pl]=com.uploadedlobster.peek
Icon[pt_BR]=com.uploadedlobster.peek
Icon[pt_PT]=com.uploadedlobster.peek
Icon[ru]=com.uploadedlobster.peek
Icon[sr]=com.uploadedlobster.peek
Icon[sv]=com.uploadedlobster.peek
Icon[uk_UA]=com.uploadedlobster.peek
Icon[zh_CN]=com.uploadedlobster.peek
Icon[zh_TW]=com.uploadedlobster.peek
Icon=com.uploadedlobster.peek
Type=Application
Categories=GTK;GNOME;Graphics;2DGraphics;
StartupNotify=true
Terminal=false
DBusActivatable=true

[AppImageHub]
X-AppImage-UpdateInformation=zsync|https://download.opensuse.org/repositories/home:/phiwo:/peek/AppImage/peek-latest-x86_64.AppImage.zsync
X-AppImage-Signature=Signature made Thu 29 Mar 2018 06:27:54 AM UTC using RSA key ID 22654C91 Can't check signature: No public key 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
