[Desktop Entry]
Name=Disk Space Saver
Comment=Disk Space Saver
Exec=AppRun
Terminal=false
Type=Application
Icon=disk-space-saver
X-AppImage-Version=2.1.1
X-AppImage-BuildId=68afde70-6af8-11a8-0994-339ee561e10e
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
