[Desktop Entry]
Version=1.0
Name=SolveSpace
Comment=A parametric 2d/3d CAD
Exec=solvespace
MimeType=application/x-solvespace;
Icon=solvespace
Type=Application
Categories=Graphics;
Keywords=parametric;cad;2d;3d;
X-AppImage-Version=a9a09ef

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|probonopd|solvespace|continuous|SolveSpace*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
