[Desktop Entry]
Name=GigaNotes
Comment=Note taking application
Exec=AppRun
Terminal=false
Type=Application
Icon=giganotes
StartupWMClass=GigaNotes
X-AppImage-Version=1.1.4
Categories=Utility;
X-AppImage-BuildId=1DXdU2kETQgIsD7MBWcafklIcd8

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
