[Desktop Entry]
Type=Application
Name=midi123
Exec=midi123
Comment=MIDI SoundFont Player
Icon=midi123
Categories=AudioVideo;Player;
Terminal=true


[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created Signature made Sun Jun  5 02:52:56 2022 UTC                using RSA key F46E5A27380463C3 Can't check signature: No public key 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
