[Desktop Entry]
Name=klogg
GenericName=Log file viewer
Exec=klogg %F
Icon=klogg
Type=Application
Comment=A smart interactive log explorer.
Terminal=false
Categories=Qt;Utility;TextTools;Development;
MimeType=text/plain;
Actions=Session;NewInstance;

X-AppImage-Version=21.04.0.910

[Desktop Action Session]
Exec=klogg --load-session %F
Name=Open With Previous Session

[Desktop Action NewInstance]
Exec=klogg --multi %F
Name=Open In A New klogg Window

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
