[Desktop Entry]
Name=AntiMicroX
Comment=Use a gamepad to control a variety of programs
Name[sr]=Анти-микро
Comment[sr]=Користите џојстик или играћу тастатуру за управљање различитим програмима
Name[fr]=AntiMicroX
Comment[fr]=Utilisez une manette de jeu pour commander un logiciel
Name[de]=AntiMicroX
Comment[de]=Nutze ein Gamepad, um Programme/Spiele zu steuern
Comment[uk]=Використовуйте ігровий маніпулятор для керування програмами
Exec=antimicrox %f
Icon=io.github.antimicrox.antimicrox
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;Utility;
MimeType=application/x-amgp;
Keywords=game;controller;keyboard;joystick;mouse;
Actions=run-in-tray;

[Desktop Action run-in-tray]
Name=Open in system tray only
Exec=antimicrox --tray

[AppImageHub]
X-AppImage-UpdateInformation=zsync|https://github.com/AntiMicroX/antimicrox/releases/latest/download/antimicrox-x86_64.AppImage.zsync
X-AppImage-Signature=[don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
