[Desktop Entry]
Name=ieaseMusic
Comment=这应该是最好的网易云音乐播放器了，没有之一，如果有请打醒 🤘
Exec=AppRun
Terminal=false
Type=Application
Icon=iease-music
X-AppImage-Version=1.0.9
X-AppImage-BuildId=f9433f40-de85-11a7-2c0d-f9d26d154d4e
Categories=Music;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
