[Desktop Entry]
# Creative Commons CC0 1.0 Universal (CC0-1.0, Public Domain Dedication).
Name=SmuView
GenericName=A sigrok GUI for power supplies, loads and measurement devices
Categories=Development;Electronics;
Comment=SmuView is a Qt based source measure unit GUI for sigrok.
Exec=smuview
Icon=smuview
Type=Application
X-AppImage-Version=0.0.3

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
