[Desktop Entry]
Name=LunoDB
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=lunodb
StartupWMClass=lunodb
X-AppImage-Version=1.32.0
Comment=LunoDB is modern, AI-powered database software for MySQL, PostgreSQL, SQLite and more. Connect to your databases, manage your data with ease, and leverage AI to generate SQL queries, get insights, and optimize your workflow.
Categories=Development;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=dynamic
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.34
