[Desktop Entry]
Name=baiji-manga-viewer
Comment=A modern manga viewer inspired by Quivi that uses Material Design
Exec=AppRun
Terminal=false
Type=Application
Icon=baiji-manga-viewer
X-AppImage-Version=1.1.0.115
X-AppImage-BuildId=08da8360-4abe-11a8-1ee6-b1199f7e9452
Categories=Graphics;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
