[Desktop Entry]
Version=1.0
Type=Application
Name=INSTEAD
Name[ru]=INSTEAD
Name[uk]=INSTEAD
Comment=Simple Text Adventures Interpreter
Comment[ru]=Интерпретатор простых приключений
Comment[uk]=Iнтерпретатор простих пригод
Keywords=game;adventure;quest;
Keywords[ru]=игра;приключения;квест;
Keywords[uk]=гра;пригоди;квест;
Exec=/usr/bin/sdl-instead
Icon=sdl_instead
Terminal=false
Categories=Game;LogicGame;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=[don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
