[Desktop Entry]
Version=1.0
Type=Application
MimeType=application/xml;
Terminal=false
Exec=gsequencer --filename %f
Icon=gsequencer
Name=Advanced Gtk+ Sequencer
GenericName=Sequencer
Comment=Create effect processing tree and play audio by defined patterns or notes
Categories=AudioVideo;Audio;Sequencer;
Keywords=audio;sequencer;notation;editor;midi;synth;mixing;effects;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=NOASSERTION
