[Desktop Entry]
Type=Application
Name=SyncClipboard
Icon=xyz.jericx.desktop.syncclipboard
Comment=A Clibpoard Syncing Tool
Exec=/usr/bin/SyncClipboard.Desktop.Default
TryExec=/usr/bin/SyncClipboard.Desktop.Default
NoDisplay=false
X-AppImage-Integrate=true
Terminal=false
Categories=Utility
StartupWMClass=SyncClipboard.Desktop.Default
MimeType=
Keywords=
[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|Jeric-X|SyncClipboard|latest|SyncClipboard_linux_x64.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.38
X-AppImage-Payload-License=MIT
