[Desktop Entry]
Name=My Jira
Comment=A lite jira desktop
Exec=AppRun
Terminal=false
Type=Application
Icon=my-jira
StartupWMClass=My Jira
X-AppImage-Version=0.0.4
Categories=Development;
X-AppImage-BuildId=1KAKDaan4Zw0mAv25XCFg6JEr0C

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
