[Desktop Entry]
Type=Application
Name=ESP Flashing Utility
Comment=ESP8622/ESP32 flashing tool
Exec=ESP_Flashing_Utility
Icon=cuteesp
Categories=Development;
X-AppImage-Version=d008d07

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|probonopd|CuteESP|continuous|ESP_Flashing_Utility*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
