[Desktop Entry]
Name=NoteMaster
Exec=AppRun
Terminal=false
Type=Application
Icon=notemaster
StartupWMClass=NoteMaster
X-AppImage-Version=0.2.3.10
Comment=NoteMaster is a minimalist persistent note-taking app to help boost productivity.
Categories=Development;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
