[Desktop Entry]
Name=Aillio Bullet R1
Comment=The desktop application for Aillio Bullet R1
Exec=AppRun
Terminal=false
Type=Application
Icon=aillio-ts
X-AppImage-Version=1.1.1
X-AppImage-BuildId=eca11fc0-4f3a-11a8-0e8a-dd256b9524bb
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
