[Desktop Entry]
Name=patrikx3-redis-ui-electron
Comment=📡 P3X Redis UI that uses Socket.IO, AngularJs Material and IORedis with statistics, console - terminal, tree, dark mode, internationalization, multiple connections, web and desktop by Electron.
Exec=AppRun
Terminal=false
Type=Application
Icon=p3x-redis-ui
StartupWMClass=patrikx3-redis-ui-electron
X-AppImage-Version=2018.9.28-3
Categories=Office;
X-AppImage-BuildId=1AqDiJlUxJsq3V6XaMvA4TrUpxz

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
