[Desktop Entry]
Name=passerine
Comment=Product Hunt desktop app
Exec=AppRun
Terminal=false
Type=Application
Icon=passerine
X-AppImage-Version=1.0.1
X-AppImage-BuildId=84bb7f50-1f82-11a8-1dad-7ba9b008b18f
Categories=Chat;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
