// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: $font_heading;
  color: $color_heading;
  font-family: $font_heading;
  font-weight: 300;

  margin: 15px 0;
  padding: 0;

  a {
    color: inherit;
  }
}

h1, .h1 {font-size: 40px;}
h2, .h2 {font-size: 30px;}
h3, .h3 {font-size: 23px;}
h4, .h4 {font-size: 17px;}
h5, .h5 {font-size: 16px;}
h6, .h6 {font-size: 15px;}

// Text
p, ul, ol {
  margin: 15px 0;
}

a {
  color: $color_link;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $color_link;
  }
}

blockquote {
  margin: 15px 0;
  color: $grey;
  font-style: italic;
  text-align: center;
}

// Lists
ul, ol {
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i, .i {
  font-style: italic;
}

strong, b, .b {
  font-weight: bold;
}

u, .u {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $color_subtle;
  float: right;
}

// Tables
table {
  border-spacing: 1px;
  text-align: left;
  width: 100%;
}
th, td {
  border: 1px solid #ccc;
  padding: .25em .5em;
}
th {
  font-weight:bold;
  background-color:#eee;
}
th {
  width: 33%;
}

// Selection
::-moz-selection {
  color: #fff;
  background: $color_link;
}
::selection {
  color: #fff;
  background: $color_link;
}

// Misc
.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGrey;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  header, header a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  header p {
    font-size: 30px;
    font-weight: 100;
    padding-top: 10px;
    padding-left: 15px;
    color: #666;
  }
  footer {
    margin: 15px 0;
  }

  .terminal {
    display: flex;
    background: $base03;
    color: $base3;
    justify-content: left;
    align-items: center;

    .mega-octicon {
        margin:0 8px;
    }
  }

  .comments {
    margin-top: 10px;
  }

  #screenshots {
    text-align: center;
    img {
      border-top-left-radius: 5px; /* not perfect, but hides that I cut the window borders badly */
      border-top-right-radius: 5px;
      box-shadow: 0 10px 50px 5px rgba(0, 0, 0, .4);
      border: 1px solid rgba(0, 0, 0, .5);
      margin:16px 0;
    }
  }
}
