[Desktop Entry]
Version=1.0
Type=Application
Name=Aqloss
GenericName=Audio, uncompromised.
Comment=Aqloss is a music player built around a Rust audio engine, with optional WASAPI Exclusive mode on Windows for bit-perfect output to compatible hardware.
Exec=Aqloss %f
Icon=xyz.nokarin.aqloss
Categories=Audio;Music;Player;AudioVideo;
Terminal=false
StartupWMClass=Aqloss
Keywords=audio;player;music;linux;
MimeType=application/x-aqloss-playlist;application/x-aqloss-plugin;
[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.34
X-AppImage-Payload-License=GPL-3.0
