[Desktop Entry]
Encoding=UTF-8
Name=Eqonomize!
GenericName=Personal Accounting
GenericName[sv]=Bokföring
GenericName[de]=Buchhaltung
GenericName[ro]=Contabilitate Personala
Exec=eqonomize %U
Icon=eqonomize
Type=Application
MimeType=application/x-eqonomize;
X-DocPath=eqonomize/index.html
Categories=Qt;KDE;Office;Finance;
X-KDE-StartupNotify=true
#X-DBUS-StartupType=Unique
#X-DBUS-ServiceName=eqonomize
Terminal=false
Comment=Manage your personal finances
Comment[sv]=Hantera din privatekonomi
Comment[de]=Verwaltung der persönlichen Finanzen
Comment[ro]=Gerează finanțele personale

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
