[Desktop Entry]
Type=Application
Name=paint.c
GenericName=Image Editor
Comment=Edit images with layers, effects and adjustments
Exec=paintc %F
Icon=io.github.vancevoj.paintc
Terminal=false
StartupNotify=true
StartupWMClass=io.github.vancevoj.paintc
Categories=Graphics;2DGraphics;RasterGraphics;
Keywords=image;photo;picture;paint;draw;layers;editor;pdn;
MimeType=image/x-paintnet;image/png;image/jpeg;image/bmp;image/gif;image/tiff;image/webp;image/avif;image/jxl;image/x-tga;image/x-dds;image/openraster;
X-AppImage-Version=0.1.3

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.29
