[Desktop Entry]
Name=Sonic Lineup
Comment=Comparative visualisation of multiple audio files of related content
Exec=sonic-lineup %U
Keywords=audio; sound; visualiser; sonic;
Terminal=false
Type=Application
Icon=sonic-lineup-icon
Categories=Audio;AudioVideo;
MimeType=application/x-ogg;audio/mp3;audio/ogg;audio/mpeg;audio/mpegurl;audio/x-flac;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-wav;audio/wav;application/ogg;audio/x-vorbis+ogg;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
