[Desktop Entry]
Categories=Graphics;
Type=Application
Icon=org.kde.glaxnimate
Name=glaxnimate
Name[ar]=glaxnimate
Name[ca]=glaxnimate
Name[ca@valencia]=glaxnimate
Name[cs]=glaxnimate
Name[en_GB]=glaxnimate
Name[eo]=glaxnimate
Name[es]=glaxnimate
Name[eu]=glaxnimate
Name[fi]=glaxnimate
Name[fr]=glaxnimate
Name[gl]=glaxnimate
Name[he]=glaxnimate
Name[it]=glaxnimate
Name[ka]=glaxnimate
Name[nl]=glaxnimate
Name[pl]=glaxnimate
Name[pt_BR]=glaxnimate
Name[ru]=glaxnimate
Name[sk]=glaxnimate
Name[sl]=glaxnimate
Name[sv]=glaxnimate
Name[tr]=glaxnimate
Name[uk]=glaxnimate
Name[zh_CN]=glaxnimate
Name[zh_TW]=glaxnimate
Exec=glaxnimate
X-AppImage-Version=0.6.0

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.28
