[Desktop Entry]
Version=1.0
Type=Application
Name=Planet Blupi
GenericName=Video Game
Comment=Planet Blupi - A delirious spell-binding game
Exec=planetblupi
StartupWMClass=planetblupi
Icon=blupi
Categories=Game;StrategyGame;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created Signature made Fri Nov 15 22:15:29 2024 UTC                using RSA key 3F1A5D3F769A8CF0282F1ADB8B9145A5FA9DA8A8 Can't check signature: No public key 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.15
X-AppImage-Payload-License=GPL-3.0
