[Desktop Entry]
Name=x-loc
Comment=Extra localizations/translations manager for Stardew Valley
Exec=AppRun
Terminal=false
Type=Application
Icon=x-loc
StartupWMClass=x-loc
X-AppImage-Version=1.3.5.28
Categories=Utility;
X-AppImage-BuildId=1FR7g8x0rz3N40NVizzh5X5MmmS

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
