[Desktop Entry]
Name=Godot Hub
GenericName=Godot Version Manager
Comment=Desktop app for managing Godot Engine versions and projects
Exec=GodotHub
Icon=godothub
Terminal=false
PrefersNonDefaultGPU=true
Type=Application
Categories=Development;IDE;
StartupWMClass=GodotHub
StartupNotify=true
X-AppImage-Version=1.3.1

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|ismailivanov|godot-hub|latest|GodotHub-x86_64.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.28
X-AppImage-Payload-License=MIT
