[Desktop Entry]
Version=1.4
Type=Application
Name=Melia
GenericName=Email Client
Comment=A beautiful desktop email client for Linux
Exec=melia %U
Icon=melia
StartupNotify=false
StartupWMClass=melia
Categories=Network;Email;
MimeType=message/rfc822;x-scheme-handler/mailto;x-scheme-handler/melia;
X-GNOME-UsesNotifications=true
X-AppImage-Name=melia
X-AppImage-Version=1.1.396

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.34
