[Desktop Entry]
Type=Application
Version=1.0
Exec=rssguard
X-GNOME-Autostart-Delay=15
X-LXQt-Need-Tray=true
Name=RSS Guard
GenericName=Feed reader
GenericName[cs]=Velmi jednoduchá čtečka kanálů
GenericName[de]=Feedreader
Comment=Tiny yet feature rich Qt feed reader
Comment[cs]=Velmi jednoduchá čtečka kanálů
Comment[de]=Qt Feedreader mit großem Funktionsumfang bei geringem Ressourcenbedarf
Icon=rssguard
Terminal=false
Categories=Qt;Network;News;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
