[Desktop Entry]
Name=whu-library-seat
Comment=武汉大学图书馆抢座软件
Exec=AppRun
Terminal=false
Type=Application
Icon=whu-library-seat
X-AppImage-Version=1.8.0.333
X-AppImage-BuildId=d8d8dd80-0d1b-11a9-0d22-77a39db783d7
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
