[Desktop Entry]
Name=CNCjs
Comment=CNC Milling Controller
Exec=AppRun
Terminal=false
Type=Application
Icon=cncjs-app
X-AppImage-Version=1.9.15.3078
X-AppImage-BuildId=d32a0e60-214c-11a8-108f-2fe1e888ac97
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
