[Desktop Entry]
Type=Application
Name=LCEdit
Exec=lcedit
Icon=lcedit
Categories=Development;
StartupNotify=true

X-AppImage-Version=8a4e0f3

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|Fulgen301|LCEdit|continuous|LCEdit*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
