[Desktop Entry]
Type=Application
Name=jsLinuxCleanup
GenericName=System Cleanup
GenericName[de]=Systemreinigung
Comment=Free up disk space and see what is installed, what starts up and what is scheduled
Comment[de]=Speicherplatz freigeben und sehen, was installiert ist, was startet und was geplant läuft
Exec=jsLinuxCleanup
Icon=jslinuxcleanup
Terminal=false
Categories=System;Filesystem;
Keywords=clean;cleanup;disk;space;cache;log;packages;uninstall;autostart;cron;updates;
Keywords[de]=aufräumen;reinigen;Speicher;Platz;Cache;Protokoll;Pakete;deinstallieren;Autostart;Zeitplan;Updates;
NoDisplay=false
StartupNotify=true
StartupWMClass=jsLinuxCleanup
X-AppImage-Version=1.0.1

[AppImageHub]
X-AppImage-UpdateInformation=zsync|https://www.budbrain.de/appimage/jslinuxcleanup-x86_64.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=static
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.34
