[Desktop Entry]
Name=eDEX-UI
Comment=A science fiction desktop running everywhere. Awesome.
Exec=AppRun
Terminal=false
Type=Application
Icon=edex-ui
X-AppImage-Version=0.9.1
X-AppImage-BuildId=b723a800-7180-11a8-3d21-6bf41d299dab
Categories=System;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
