[Desktop Entry]
Type=Application
Name=Popsicle USB Flasher
Name[fr_FR]=Flasheur USB
Name[pt_BR]=Gravador USB
GenericName=Popsicle USB Flasher
GenericName[fr_FR]=Flasheur USB
GenericName[pt_BR]=Gravador USB
X-GNOME-FullName=Popsicle USB Flasher
X-GNOME-FullName[fr_FR]=Flasheur USB
X-GNOME-FullName[pt_BR]=Gravador USB
Icon=com.system76.Popsicle
Categories=System;
Keywords="USB;Flash;Drive;Popsicle;"
Keywords[fr_FR]="USB;Flasheur;Lecteur;Popsicle;"
Keywords[pt_BR]="USB;Gravar;Pendrive;Popsicle;"
MimeType=application/x-cd-image;application/x-raw-disk-image;
Terminal=false
StartupNotify=true
Exec=popsicle-gtk %f
X-AppImage-Version=1.3.1

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|pop-os|popsicle|latest|Popsicle_USB_Flasher-*x86_64.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
