[Desktop Entry]
Name=Pile
Comment=A simple & powerful app to organize your piled work at one place
Exec=AppRun
Terminal=false
Type=Application
Icon=pile
X-AppImage-Version=0.3.2.16
X-AppImage-BuildId=2605b710-5073-11a8-07f1-5db995e89281
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
