[Desktop Entry]
Name=SquishPic
Comment=Open, view and compress SID images.
Exec=AppRun
Terminal=false
Type=Application
Icon=squishpic
X-AppImage-Version=1.0.5116
X-AppImage-BuildId=64179dc0-b70c-11a8-3d61-e56408e724a0
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
