[Desktop Entry]
Name=Parity Fether
Comment=Fether Wallet
Exec=AppRun
Terminal=false
Type=Application
Icon=fether
StartupWMClass=Parity Fether
X-AppImage-Version=0.2.0
Categories=Utility;
X-AppImage-BuildId=1Fw704Acu5oGU8sSub4egZjECau

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=BSD-3-Clause
