[Desktop Entry]
Name=Beekeeper Studio
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=beekeeper-studio
StartupWMClass=beekeeper-studio
X-AppImage-Version=6.1.2
Comment=An easy-to use SQL query editor and database UI for Mac, Windows, and Linux
MimeType=application/vnd.sqlite3;application/vnd.sqlite3;application/vnd.sqlite3;application/vnd.duckdb;application/vnd.duckdb;x-scheme-handler/redshift;x-scheme-handler/cockroachdb;x-scheme-handler/cockroach;x-scheme-handler/mariadb;x-scheme-handler/tidb;x-scheme-handler/mysql;x-scheme-handler/postgresql;x-scheme-handler/postgres;x-scheme-handler/psql;x-scheme-handler/sqlite;x-scheme-handler/sqlserver;x-scheme-handler/microsoftsqlserver;x-scheme-handler/mssql;x-scheme-handler/redis;x-scheme-handler/rediss;
Categories=Development;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=dynamic
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.34
