[Desktop Entry]
Version=1.0
Name=Text Digger
GenericName=Text Finder Tool
Comment=Quickly analyze and find text from files - v1.0.0
Exec=TextDigger_v1.0.0_20241206_173621.AppImage
Icon=textdigger
Type=Application
Categories=Utility;Qt;
Terminal=false
StartupNotify=false
Keywords=Text;Digger;Search;Find;Seek;Extract;

