[Desktop Entry]
Name=AI公文智能优化助手
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=ai-document-assistant
StartupWMClass=AI公文智能优化助手
X-AppImage-Version=1.6.1
Comment=AI 公文智能优化助手 — 公文格式检测与优化桌面工具
Categories=Office;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=dynamic
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.38
X-AppImage-Payload-License=MIT
