[Desktop Entry]
Name=KCalc
Name[af]=Kcalc
Name[ar]=حاسبة ك
Name[ast]=KCalc
Name[bg]=KCalc
Name[br]=KCalc
Name[bs]=KCalc
Name[ca]=KCalc
Name[ca@valencia]=KCalc
Name[cs]=KCalc
Name[cy]=KCalc
Name[da]=KCalc
Name[de]=KCalc
Name[el]=KCalc
Name[en_GB]=KCalc
Name[eo]=KCalc
Name[es]=KCalc
Name[et]=KCalc
Name[eu]=KCalc
Name[fi]=KCalc
Name[fr]=KCalc
Name[ga]=KCalc
Name[gl]=KCalc
Name[he]=KCalc
Name[hne]=के-केल्क
Name[hr]=KCalc
Name[hu]=KCalc
Name[ia]=KCalc
Name[id]=KCalc
Name[is]=KCalc
Name[it]=KCalc
Name[ja]=KCalc
Name[kk]=KCalc
Name[km]=KCalc
Name[ko]=KCalc
Name[lt]=KCalc
Name[lv]=KCalc
Name[mk]=KCalc
Name[mr]=के-कॅल्क
Name[ms]=KCalc
Name[nb]=KCalc
Name[nds]=KCalc
Name[ne]=केडीई क्याल्क
Name[nl]=KCalc
Name[nn]=KCalc
Name[pa]=ਕੇ-ਕੈਲਕ
Name[pl]=Kalkulator
Name[pt]=KCalc
Name[pt_BR]=KCalc
Name[ro]=KCalc
Name[ru]=KCalc
Name[sk]=KCalc
Name[sl]=KCalc
Name[sq]=KCalc
Name[sr]=К‑калк
Name[sr@ijekavian]=К‑калк
Name[sr@ijekavianlatin]=KCalc
Name[sr@latin]=KCalc
Name[sv]=Kcalc
Name[ta]=கேகணிப்பான்
Name[tg]=KМошинаи ҳисобкунак
Name[th]=เครื่องคิดเลข-K
Name[tr]=KCalc
Name[ug]=KCalc
Name[uk]=KCalc
Name[uz]=Kalkulyator
Name[uz@cyrillic]=Калкулятор
Name[vi]=KCalc
Name[wa]=KCalc
Name[x-test]=xxKCalcxx
Name[zh_CN]=KCalc
Name[zh_TW]=KDE 計算機
Exec=kcalc.wrapper
Icon=accessories-calculator
X-DocPath=kcalc/index.html
GenericName=Scientific Calculator
GenericName[af]=Wetenskaplike Sakrekenaar
GenericName[ar]=آلة حاسبة علمية
GenericName[ast]=Calculadora científica
GenericName[bg]=Калкулатор
GenericName[br]=Ur jederez skiantel
GenericName[bs]=Naučni kalkulator
GenericName[ca]=Calculadora científica
GenericName[ca@valencia]=Calculadora científica
GenericName[cs]=Vědecká kalkulačka
GenericName[cy]=Cyfrifydd Gwyddonol
GenericName[da]=Videnskabelig regnemaskine
GenericName[de]=Wissenschaftlicher Taschenrechner
GenericName[el]=Επιστημονικό κομπιουτεράκι
GenericName[en_GB]=Scientific Calculator
GenericName[eo]=Scienca kalkulilo
GenericName[es]=Calculadora científica
GenericName[et]=Teaduslik kalkulaator
GenericName[eu]=Kalkulagailu zientifikoa
GenericName[fa]=ماشین حساب علمی
GenericName[fi]=Tieteellinen laskin
GenericName[fr]=Calculatrice scientifique
GenericName[ga]=Áireamhán Eolaíochta
GenericName[gl]=Unha calculadora científica
GenericName[he]=מחשבון מדעי
GenericName[hne]=वैग्यानिक केल्कुलेटर
GenericName[hr]=Znanstveni kalkulator
GenericName[hu]=Tudományos számológép
GenericName[ia]=Calculator scientific
GenericName[id]=Kalkulator Ilmiah
GenericName[is]=Öflug reiknivél
GenericName[it]=Calcolatrice scientifica
GenericName[ja]=科学電卓
GenericName[kk]=Ғылыми калькулятор
GenericName[km]=​ម៉ាស៊ីន​គិត​លេខ​​​វិទ្យាសាស្ត្រ
GenericName[ko]=공학용 계산기
GenericName[lt]=Mokslinis skaičiuotuvas
GenericName[lv]=Zinātniskais kalkulators
GenericName[mk]=Научен калкулатор
GenericName[mr]=शास्त्रीय गणकयंत्र
GenericName[ms]=Scientific Calculator
GenericName[nb]=Vitenskapelig kalkulator
GenericName[nds]=Wetenschaplich Taschenreekner
GenericName[ne]=वैज्ञानिक गणकयन्त्र
GenericName[nl]=Wetenschappelijke rekenmachine
GenericName[nn]=Vitskapleg kalkulator
GenericName[pa]=ਵਿਗਿਆਨਿਕ ਕੈਲਕੂਲੇਟਰ
GenericName[pl]=Kalkulator naukowy
GenericName[pt]=Calculadora Cientifica
GenericName[pt_BR]=Calculadora científica
GenericName[ro]=Calculator științific
GenericName[ru]=Калькулятор
GenericName[sk]=Vedecká kalkulačka
GenericName[sl]=Znanstveno računalo
GenericName[sq]=Makinë Llogaritëse Shkencore
GenericName[sr]=Научни калкулатор
GenericName[sr@ijekavian]=Научни калкулатор
GenericName[sr@ijekavianlatin]=Naučni kalkulator
GenericName[sr@latin]=Naučni kalkulator
GenericName[sv]=Vetenskaplig miniräknare
GenericName[ta]= அறிவியல் சார்ந்த கணிப்பான்
GenericName[tg]=Мошинаи ҳисобкунаки Илмӣ
GenericName[th]=เครื่องคิดเลขทางวิทยาศาสตร์
GenericName[tr]=Bilimsel Hesap Makinesi
GenericName[ug]=ئىلمىي ھېسابلىغۇچ
GenericName[uk]=Калькулятор для науковців
GenericName[uz]=Ilmiy kalkulyator
GenericName[uz@cyrillic]=Илмий калкулятор
GenericName[vi]=Máy Tính Khoa Học 
GenericName[wa]=Carculete syintifike
GenericName[xh]=Umatshini Wokubala Ezenzululwazi
GenericName[x-test]=xxScientific Calculatorxx
GenericName[zh_CN]=科学计算器
GenericName[zh_TW]=科學計算機
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
X-DBUS-ServiceName=org.kde.kcalc.desktop

[AppImageHub]
X-AppImage-UpdateInformation=zsync|kcalc-git20170207-x86_64.AppImage
X-AppImage-Signature=Signature made Tue 07 Feb 2017 02:32:12 PM UTC using RSA key ID 4E7C42CA Can't check signature: No public key 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
