[Desktop Entry]
Name=Leonflix
Comment=A multi-platform desktop application for watching movies and TV shows.
Exec=AppRun
Terminal=false
Type=Application
Icon=leonflix
X-AppImage-Version=0.4.7
X-AppImage-BuildId=76d8cab0-4231-11a8-0615-115b33d41495
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
