[Desktop Entry]
Type=Application
Name=MKVToolNix GUI
Name[sr]=Мкв-алатница
GenericName=Matroska files creator and tools
GenericName[ca]=Eines i creador de fitxers Matroska
GenericName[de]=Matroska-Dateien erstellen und mit ihnen arbeiten
GenericName[es]=Creador de ficheros Matroska
GenericName[fr]=Créateur de fichiers Matroska
GenericName[sr]=Програм за стварање и обрађивање Матрошка датотека.
GenericName[zh_CN]=Matroska 文件创建器
GenericName[zh_TW]=Matroska 檔製作軟體
Icon=mkvtoolnix-gui
Exec=mkvtoolnix-gui %F
Terminal=false
MimeType=application/x-mkvtoolnix-gui-settings;video/x-matroska;audio/x-matroska;
Categories=AudioVideo;AudioVideoEditing;
InitialPreference=-5
X-AppImage-Version=38.0.0-z019-g8b26fb1
