[Desktop Entry]
Name=WesterosCraft Launcher
Comment=Custom launcher which allows users to join WesterosCraft. All mods, configurations, and updates are handled automatically.
Exec=AppRun
Terminal=false
Type=Application
Icon=westeroscraftlauncher
StartupWMClass=WesterosCraft Launcher
X-AppImage-Version=1.0.2-pre.1.196
Categories=Game;
X-AppImage-BuildId=1Ab92MepPqFMY0RaJp62whFNkgh

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
