[Desktop Entry]
Name=Lampix Simulator
Comment=Create apps for Lampix on your own workstation
Exec=AppRun
Terminal=false
Type=Application
Icon=lampix-simulator
StartupWMClass=Lampix Simulator
X-AppImage-Version=2.5.2-master.90
Categories=Development;
X-AppImage-BuildId=1EUIqZBuSl3uEFTWc6wu6JP34yh

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
