[Desktop Entry]
Name=Beatbreaker Editor
GenericName=Audio Editor Editor
Comment=Edit audio files

Icon=icon

Type=Application
Categories=AudioVideo;Audio;AudioVideoEditing;

Exec=BeatbreakerEditorFree %F
StartupNotify=false
Terminal=false

[AppImageHub]
X-AppImage-UpdateInformation=zsync|https://auto-update.beatbreaker.net/editor/free/linux/BeatbreakerEditorFree-latest.AppImage.zsync
X-AppImage-Signature=Signature made Sat 07 Mar 2020 11:09:30 PM UTC using RSA key ID 702D7186 Can't check signature: No public key 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
