[Desktop Entry]
Name=gLabels Label Designer 4
Comment=Create labels, business cards and media covers
Keywords=label;card;print;office;barcode;
Exec=glabels-qt %F
Icon=glabels
Terminal=false
Type=Application
Categories=Office;
StartupNotify=true
MimeType=application/x-glabels;

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|jimevins|glabels-qt|continuous|gLabels_Label_Designer_4*-x86_64.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
