[Desktop Entry]
Name=zs
Comment=Mainly a syntax-aware diff that also provides a number of additional tools.
Exec=zs
Icon=zs
Type=Application
Terminal=true
Categories=Development;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=Signature made Sat 18 May 2019 09:35:32 PM UTC using RSA key ID B05F6BE2 Can't check signature: No public key 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=AGPL-3.0
