[Desktop Entry]
Name=Iceworks
Comment=ICE Desktop Application.
Exec=AppRun
Terminal=false
Type=Application
Icon=iceworks-desktop
X-AppImage-Version=2.6.0-beta
X-AppImage-BuildId=0942f3d0-a5b0-11a8-0a50-955abd3f1516
Categories=GNOME;GTK;Development;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
