[Desktop Entry]
Name=Instagram-Py
Type=Application
Exec=instagram-py-wrapper %u
Icon=icon
Terminal=true
Categories=System;
Comment=Hack Instagram Like a Pro.

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|antony-jr|instagram-py|continuous|Instagram-Py*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
