[Desktop Entry]
Name=Lightcord
Exec=AppRun
Terminal=false
Type=Application
Icon=lightcord
StartupWMClass=Lightcord
X-AppImage-Version=0.1.5
Comment=A simple - customizable - Discord Client.
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=[don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
