[Desktop Entry]
Name=wire-desktop
Comment=Modern communication, full privacy.
Exec=AppRun
Terminal=false
Type=Application
Icon=wire-desktop
X-AppImage-Version=2.15.2751.154
X-AppImage-BuildId=0740e9a0-6d2d-11a7-2e2f-159280cd3ce9
Categories=Network;

[AppImageHub]
UpdateInformation=false
# Dear upstream developer, please add update information to your AppImage
# so that users can easily update the AppImage
