[Desktop Entry]
Name=Criptext
Comment=Encrypted email built on privacy
Exec=AppRun
Terminal=false
Type=Application
Icon=criptext
X-AppImage-Version=0.13.6
X-AppImage-BuildId=061bc210-e1db-11a8-0179-951044534e9a
Categories=Network;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
