[Desktop Entry]
Version=1.0
Name=Vircadia
Terminal=false
Type=Application
Exec=Vircadia
Icon=Vircadia
Categories=Graphics;AudioVideo;Network;

[AppImageHub]
X-AppImage-UpdateInformation=zsync|http://appimage.moto9000.moe/release/Vircadia-x86_64-release-latest.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created Signature made Sun Sep 19 02:33:18 2021 UTC                using RSA key F7D152F32E6B59C41DBB45B8ED64C1DDDF08B20B Can't check signature: No public key 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
