[Desktop Entry]
Version=1.0
Type=Application
Name[ar]=برنامج جنو لمعالجة الصور
Name[ast]=Programa de Manipulación d'Imaxe GNU
Name[be]=GNU Image Manipulation Program
Name[bg]=Редактор на изображения на GNU (GIMP)
Name[bn]=GNU ছবি দক্ষতা সহকারে ব্যবহারের কার্যক্রম
Name[br]=Goulev da zornata skeudennoù GNU
Name[bs]=Gnuov program za obradu slika (GNU Image Manipulation Program)
Name[ca]=Programa de retoc d'imatges de GNU
Name[ca@valencia]=Programa de retoc d'imatges de GNU
Name[cs]=GNU Image Manipulation Program
Name[csb]=Editora òbrôzów GIMP
Name[da]=GNU Image Manipulation Program
Name[de]=GNU Image Manipulation Program
Name[dz]=་་ཨི་མེཇི་་མ་ནུ་པུ་ལེ་ཤཱན་་པོརོ་གརམ།
Name[el]=Πρόγραμμα επεξεργασίας εικόνων GNU
Name[en_CA]=GNU Image Manipulation Program
Name[en_GB]=GNU Image Manipulation Program
Name[eo]=Bildmanipulilo (GIMP = GNU Image Manipulation Program)
Name[es]=Programa de manipulación de imágenes de GNU
Name[et]=GIMP - GNU pilditöötlusprogramm
Name[eu]=Irudiak Manipulatzeko GNU Programa
Name[fa]=برنامهٔ روتوش تصویر گنو
Name[fi]=GIMP-kuvankäsittely
Name[fr]=Éditeur d’image GIMP
Name[gd]=GNU Image Manipulation Program
Name[gl]=Programa de Manipulación de Imaxes de GNU
Name[gu]=GNU ચિત્ર જાળવણી કાર્યક્રમ
Name[he]=תוכנת עיבוד התמונה של GNU
Name[hr]=GIMP program za manipulaciju slikama
Name[hu]=GNU képszerkesztő program
Name[id]=GNU Program Manipulasi Gambar
Name[is]=GNU myndvinnsluforritið
Name[it]=GNU Image Manipulation Program
Name[ja]=GIMP (GNU Image Manipulation Program)
Name[ka]=GNU Image Manipulation Program
Name[kab]=Ahil GNU i wesqerdec n tugna
Name[km]=កម្មវិធី​រៀបចំ​រូបភាពរបស់ GNU
Name[kn]=GNU ಇಮೇಜ್ ಮ್ಯಾನಿಪುಲೇಶನ್ ಪ್ರೊಗ್ರಾಮ್
Name[ko]=그누 이미지 처리 프로그램
Name[ky]=GNU Image Manipulation Program
Name[lt]=GNU paveikslėlių manipuliavimo programa
Name[lv]=GNU attēlu apstrādes programma
Name[mk]=ГНУ програма за манипулација со слики
Name[ml]=GNU Image Manipulation Program
Name[mr]=गिम्प - मराठी
Name[my]=GNU ရုပ်ပုံ စီမံကိုင်တွယ်ရေး ပရိုဂရမ်
Name[nb]=GNU bildebehandlingsprogram
Name[nds]=GNU Billbewarkenprogramm
Name[ne]=जी एन यू छवि परिचालन कार्यक्रम
Name[nl]=GNU Image Manipulation Program
Name[nn]=GNU bilethandsamingsprogram
Name[oc]=Editor d'imatge GIMP
Name[pa]=ਗਨੂ ਈਮੇਜ਼ ਮੈਨੂਪਲੇਸ਼ਨ ਪਰੋਗਰਾਮ
Name[pl]=Edytor obrazów GIMP
Name[pt]=Programa de Manipulação de Imagens GNU
Name[pt_BR]=Programa de manipulação de imagem do GNU
Name[ro]=GIMP
Name[ru]=GNU Image Manipulation Program
Name[si]=GNU Image Manipulation Program
Name[sk]=GNU program na manipuláciu s obrázkami
Name[sl]=GIMP – program GNU za obdelavo slik
Name[sr]=Гнуов програм за обраду слика
Name[sr@latin]=Gnuov program za obradu slika
Name[sv]=GNU:s bildmanipuleringsprogram
Name[ta]=க்னூ பட கையாளல் நிரல்
Name[te]=గ్నూ ఇమేజ్ మానిప్యులేషన్ ప్రోగ్రామ్
Name[th]=GNU Image Manipulation Program
Name[tr]=GNU Görüntü İşleme Programı
Name[tt]=Sürät Eşkärtüçe GNU-Yasılım
Name[uk]=GNU Image Manipulation Program
Name[vi]=Chương trình xử ký ảnh GNU
Name[zh_CN]=GNU 图像处理程序
Name[zh_HK]=GNU 圖片處理程式
Name[zh_TW]=GNU 影像處理程式
Name=GNU Image Manipulation Program
GenericName[ar]=محرر صور
GenericName[ast]=Editor d'imaxe
GenericName[be]=Рэдактар відарысаў
GenericName[bg]=Редактор на изображения
GenericName[bn]=ছবি সম্পাদক
GenericName[br]=Embanner skeudennoù
GenericName[bs]=Obrada slika
GenericName[ca]=Editor d'imatges
GenericName[ca@valencia]=Editor d'imatges
GenericName[cs]=Editor obrázků
GenericName[da]=Billedredigering
GenericName[de]=Bildeditor
GenericName[dz]=གཟུགས་བརྙན་ ཞུན་དག་པ།
GenericName[el]=Επεξεργαστής εικόνων
GenericName[en_CA]=Image Editor
GenericName[en_GB]=Image Editor
GenericName[eo]=Bildredaktilo
GenericName[es]=Editor de imagen
GenericName[et]=Pildiredaktor
GenericName[eu]=Irudi-editorea
GenericName[fa]=ویرایشگر تصویر
GenericName[fi]=Kuvankäsittely
GenericName[fr]=Éditeur d’image
GenericName[gd]=Deasaiche dhealbhan
GenericName[gl]=Editor de imaxes
GenericName[gu]=ચિત્ર સંપાદક
GenericName[hr]=Uređivač slika
GenericName[hu]=Képszerkesztő
GenericName[id]=Penyunting Gambar
GenericName[is]=Myndvinnsluforrit
GenericName[it]=Ritocco immagini
GenericName[ja]=画像エディター
GenericName[ka]=გამოსახულებების რედაქტორი
GenericName[kab]=Amaẓrag n tugna
GenericName[kk]=Суреттерді өңдеу қолданбасы
GenericName[km]=កម្មវិធី​និពន្ធ​រូបភាព
GenericName[kn]=ಚಿತ್ರ ಸಂಪಾದಕ
GenericName[ko]=이미지 편집기
GenericName[ky]=Сүрөт редактору
GenericName[lt]=Paveikslėlių rengyklė
GenericName[lv]=Attēlu redaktors
GenericName[mk]=Уредник за слики
GenericName[mr]=प्रतिमा संपादक
GenericName[my]=ရုပ်ပုံ တည်းဖြတ်ကိရိယာ
GenericName[nb]=Bildebehandler
GenericName[nds]=Billbewarker
GenericName[ne]=छवि सम्पादक
GenericName[nl]=Bewerker Afbeeldingen
GenericName[nn]=Bilethandsamar
GenericName[oc]=Editor d'imatge
GenericName[pa]=ਚਿੱਤਰ ਐਡੀਟਰ
GenericName[pl]=Edytor obrazów
GenericName[pt]=Editor de imagens
GenericName[pt_BR]=Editor de imagens
GenericName[ro]=Editor de imagini
GenericName[ru]=Редактор изображений
GenericName[sk]=Editor obrázkov
GenericName[sl]=Urejevalnik slik
GenericName[sr]=Обрада фотографија
GenericName[sr@latin]=Obrada fotografija
GenericName[sv]=Bildredigerare
GenericName[ta]=பிம்ப திருத்தி
GenericName[te]=బొమ్మ కూర్పకము
GenericName[th]=เครื่องมือแก้ไขภาพ
GenericName[tr]=Görüntü Düzenleyici
GenericName[tt]=Sürät Tözätkeç
GenericName[uk]=Редактор зображень
GenericName[vi]=Bộ biên soạn ảnh
GenericName[xh]=UmHleli woMfanekiso
GenericName[zh_CN]=图像编辑器
GenericName[zh_HK]=圖片編輯器
GenericName[zh_TW]=影像編輯器
GenericName=Image Editor
Comment[ar]=أنشئ صورا وحرّر لقطات
Comment[ast]=Crea imáxenes y edita semeyes
Comment[be]=Стварэнне відарысаў і рэдагаванне фатаграфій
Comment[bg]=Създаване на изображения и редакция на снимки
Comment[bn]=ছবি তৈরি করুন এবং ফটোগ্রাফ সম্পাদন করুন
Comment[br]=Krouiñ hag embann skeudennoù pe luc'hskeudennoù
Comment[bs]=Napravite slike i obradite fotografije
Comment[ca]=Creeu imatges i editeu fotografies
Comment[ca@valencia]=Creeu imatges i editeu fotografies
Comment[cs]=Vytvářejte obrázky a upravujte fotografie
Comment[da]=Opret billeder og redigér fotografier
Comment[de]=Bilder erstellen und Fotografien bearbeiten
Comment[dz]=གཟུགས་བརྙན་ཚུ་ གསར་བསྐྲུན་འབད་ནི་དང་ དཔར་ཚུ་ཞུན་དག་འབད།
Comment[el]=Δημιουργία εικόνων και επεξεργασία φωτογραφιών
Comment[en_CA]=Create images and edit photographs
Comment[en_GB]=Create images and edit photographs
Comment[eo]=Krei bildojn aŭ redakti fotaĵojn
Comment[es]=Cree imágenes y edite fotografías
Comment[et]=Joonistamine ja fotode töötlemine
Comment[eu]=Sortu irudiak eta editatu argazkiak
Comment[fa]=ایجاد تصاویر و ویرایش عکس‌ها
Comment[fi]=Luo kuvia ja muokkaa valokuvia
Comment[fr]=Créer des images et modifier des photographies
Comment[gd]=Cruthaich dealbhan is deasaich dealbhan camara
Comment[gl]=Crear imaxes e editar fotografías
Comment[gu]=ચિત્રો બનાવો અને ફોટાઓમાં ફેરફાર કરો
Comment[hr]=Stvarajte slike i uređujte fotografije
Comment[hu]=Képek létrehozása és fotók szerkesztése
Comment[id]=Buat gambar dan sunting foto
Comment[is]=Búa til myndir og breyta ljósmyndum
Comment[it]=Creazione immagini e modifica fotografie
Comment[ja]=画像の作成と写真の編集を行います
Comment[ka]=შექმენით გამოსახულებები და ჩაასწორეთ ფოტოგრაფიები
Comment[kab]=Snulfu-d tugniwin yerna ẓreg tiwlafin
Comment[kk]=Суреттерді жасау және фотоларды түзету
Comment[km]=បង្កើត​រូបភាព និង កែសម្រួល​រូបថត
Comment[kn]=ಚಿತ್ರಗಳನ್ನು ರಚಿಸಿ ಹಾಗು ಫೋಟೋಗ್ರಾಫ್‌ಗಳನ್ನು ಸಂಪಾದಿಸಿ
Comment[ko]=이미지를 만들고 사진을 편집합니다
Comment[lt]=Kurti paveikslėlius ir redaguoti fotografijas
Comment[lv]=Veido attēlus vai rediģē fotogrāfijas
Comment[mk]=Направи слики и уреди фотографии
Comment[mr]=प्रतिमा तयार करा आणि छायाचित्रे संपादित करा
Comment[my]=ရုပ်ပုံများကို ဖန်တီးပြီး ဓါတ်ပုံများကို တည်းဖြတ်ပါ
Comment[nb]=Lag bilder og rediger fotografier
Comment[ne]=छवि सिर्जना गर्नुहोस् र फोटोग्राफ सम्पादन गर्नुहोस्
Comment[nl]=Bewerk foto's en maak afbeeldingen aan
Comment[nn]=Lag bilete og rediger foto
Comment[oc]=Crear d'imatges e modificar de fotografias
Comment[pa]=ਚਿੱਤਰ ਬਣਾਓ ਅਤੇ ਤਸਵੀਰਾਂ ਸੋਧੋ
Comment[pl]=Tworzenie oraz obróbka obrazów i fotografii
Comment[pt]=Criar imagens e editar fotografias
Comment[pt_BR]=Crie e edite imagens ou fotografias
Comment[ro]=Creează imagini și editează fotografii
Comment[ru]=Создание изображений и редактирование фотографий
Comment[sk]=Vytvárajte a upravujte obrázky alebo fotografie
Comment[sl]=Ustvari slike in uredi fotografije
Comment[sr]=Направите нове сличице и средите ваше фотографије
Comment[sr@latin]=Napravite nove sličice i sredite vaše fotografije
Comment[sv]=Skapa bilder och redigera fotografier
Comment[ta]=பிம்பங்களை உருவாக்கவும் மற்றும் படங்களை திருத்தவும்
Comment[te]=బొమ్మలను సృష్టించు మరియు చిత్రాలను సవరించు
Comment[tr]=Görüntü oluşturur ve fotoğraf düzenler
Comment[uk]=Створення зображень та редагування фотографій
Comment[vi]=Tạo và chỉnh sửa ảnh
Comment[zh_CN]=创建图像或编辑照片
Comment[zh_HK]=建立圖像與編輯照片
Comment[zh_TW]=製作影像與編輯照片
Comment=Create images and edit photographs
# TRANSLATORS: Search terms to find this application.
# 1. Do NOT translate or localize the semicolons!
# 2. The list MUST also end with a semicolon!
# 3. Keep "GIMP" in the list as-is so that people can search with the
#    original acronym too, though you may add translated version of the
#    name when relevant (it's OK if a localization has more keywords).
Keywords[ar]=GIMP;graphic;design;illustration;painting;
Keywords[ast]=GIMP;gráficu;diseñu;illustración;dibuxu;
Keywords[be]=GIMP;graphic;design;illustration;painting;графіка;распрацоўка;дызайн;ілюстрацыя;маляванне;
Keywords[bg]=гимп;джимп;графичен;дизайн;илюстрация;рисуване;композиция;ретуширане;GIMP;graphic;design;illustration;painting;
Keywords[ca]=GIMP;gràfics;disseny;il·lustració;pintura;
Keywords[ca@valencia]=GIMP;gràfic;disseny;il·lustració;pintura;
Keywords[cs]=GIMP;grafika;design;ilustrace;malování;
Keywords[da]=GIMP;grafisk;design;illustration;male;tegne;
Keywords[de]=GIMP;Grafik;Design;Illustration;Malen;
Keywords[el]=GIMP;γραφικό;σχεδίαση;επεξήγηση;βαφή;
Keywords[en_GB]=GIMP;graphic;design;illustration;painting;
Keywords[eo]=GIMP;grafiko;fasono;fasonado;ornami;ornamado;pentrilo;pentrado;
Keywords[es]=GIMP;gráfico;diseño;ilustración;dibujo;
Keywords[eu]=GIMP;irudia;diseinua;ilustrazioa;margotzea;
Keywords[fa]=GIMP;graphic;design;illustration;painting;گیمپ;گرافیک;طراحی;مصورسازی;نقاشی;نگاشتار;نگاره;
Keywords[fi]=GIMP;grafiikka;maalaus;suunnittelu;valokuva;kuva;
Keywords[fr]=GIMP;graphisme;conception;design;illustration;image;peinture;
Keywords[gl]=GIMP;gráfico;deseño;ilustración;debuxo;
Keywords[hr]=GIMP;grafika;dizajn;ilustrcija;slikanje;
Keywords[hu]=GIMP;grafika;dizájn;tervezés;illusztráció;festés;
Keywords[is]=GIMP;mynd;hönnun;myndskreyting;málun;myndvinnsla;
Keywords[it]=GIMP;grafica;design;illustrazione;disegno;fotoritocco;composizione;
Keywords[ja]=GIMP;graphic;design;illustration;painting;グラフィック;デザイン;イラスト;ペイント;
Keywords[ka]=GIMP;graphic;design;illustration;painting;
Keywords[lt]=GIMP;grafika; dizainas;iliustracija;piešimas;tapymas;
Keywords[lv]=GIMP;grafika;dizains;ilustrācija;glezna;
Keywords[mr]=गिम्पसाठी;ग्राफिक्स;रचना;उदाहरण;चित्रकला;
Keywords[nl]=GIMP;grafisch;ontwerp;illustratie;tekenen;
Keywords[nn]=GIMP;grafikk;utforming;illustrasjon;teikning;
Keywords[pl]=GIMP;grafika;graficzny;design;dizajn;projektowanie;wzornictwo;ilustracja;ilustrowanie;rysunek;rysowanie;rysownictwo;malowanie;malarstwo;obrazy;obrazki;fotografia;zdjęcia;retuszowanie;renderowanie;wtyczki;
Keywords[pt]=GIMP;gráficos;design;desenho;ilustração;pintura;
Keywords[pt_BR]=GIMP;gráficos;design;ilustração;pintura;
Keywords[ro]=GIMP;graphic;design;illustration;painting;
Keywords[ru]=GIMP;графика;дизайн;иллюстрация;рисование;
Keywords[sk]=GIMP;grafika;grafický;návrh;dizajn;ilustrácia;kresba;maľovanie;maľba;
Keywords[sl]=GIMP;grafika;oblikovanje;ilustracija;slikanje;
Keywords[sr]=Гимп;обрада фотографија;графика;дизајн;илустрација;цртање;obrada fotografija;grafika;dizajn;ilustracija;crtanje;GIMP;graphic;design;illustration;painting;
Keywords[sr@latin]=Gimp;obrada fotografija;grafika;dizajn;ilustracija;crtanje;obrada fotografija;grafika;dizajn;ilustracija;crtanje;GIMP;graphic;design;illustration;painting;
Keywords[sv]=GIMP;grafik;design;illustrera;målning;rita;
Keywords[tr]=GIMP;graphic;design;illustration;painting;grafik;tasarım;örnekleme;boyama;illüstrasyon;resimleme;
Keywords[uk]=GIMP;graphic;design;illustration;painting;гімп;ґімп;графіка;дизайн;ілюстрації;малювання;
Keywords[vi]=GIMP;graphic;design;illustration;painting;đồ họa;do hoa;thiết kế;thiet ke;vẽ;ve;minh họa;minh hoa;hội họa;hoi hoa;
Keywords[zh_CN]=GIMP;graphic;design;illustration;painting;图形;图像;图片;照片;设计;绘画;绘制;幻想;想象;想像;ps;
Keywords[zh_TW]=GIMP;圖形;影像;設計;插畫;繪圖;graphic;design;illustration;painting;
Keywords=GIMP;graphic;design;illustration;painting;
Exec=org.gimp.GIMP.Stable %U
TryExec=org.gimp.GIMP.Stable
Icon=org.gimp.GIMP.Stable
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
StartupNotify=true
MimeType=image/x-xcf;application/pdf;application/postscript;application/x-eps;application/x-navi-animation;image/avif;image/bmp;image/dds;image/g3-fax;image/gif;image/heif;image/hej2k;image/jp2;image/jpeg;image/jxl;image/openraster;image/png;image/qoi;image/svg+xml;image/tiff;image/vnd.microsoft.icon;image/vnd.wap.wbmp;image/webp;image/x-dcm;image/x-dcx;image/x-eps;image/x-exr;image/x-fits;image/x-flic;image/x-icns;image/x-ico;image/x-jp2-codestream;image/x-pcx;image/x-pixmap;image/x-portable-anymap;image/x-portable-arbitrarymap;image/x-portable-bitmap;image/x-portable-floatmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-psp;image/x-sgi;image/x-sun-raster;image/x-tga;image/x-wmf;image/x-xbitmap;image/x-xwindowdump
StartupWMClass=org.gimp.GIMP.Stable

[AppImageHub]
X-AppImage-UpdateInformation=zsync|https://download.gimp.org/gimp/GIMP-Stable-x86_64.AppImage.zsync
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
