[Desktop Entry]
Name=nRF Connect
Comment=nRF Connect for PC
Exec=AppRun
Terminal=false
Type=Application
Icon=nrfconnect
X-AppImage-Version=2.3.0-alpha.6
X-AppImage-BuildId=6f425180-0295-11a8-0be2-e36f47400586
Categories=Development;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
