[Desktop Entry]
Name=TiddlyGit
Exec=AppRun
Terminal=false
Type=Application
Icon=tiddlygit
StartupWMClass=TiddlyGit
X-AppImage-Version=0.2.1
Comment=Customizable personal knowledge-base with Github as unlimited storage and blogging platform.
MimeType=x-scheme-handler/https;x-scheme-handler/http;x-scheme-handler/mailto;
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
