[Desktop Entry]
Version=1.0
Type=Application
Name=qTox
GenericName=Tox client
Comment=Qt 5 based Tox instant messenger for secure communication
TryExec=qtox
Exec=qtox %u
Icon=qtox
Categories=Network;InstantMessaging;Chat;Telephony;VideoConference;
Terminal=false
MimeType=x-scheme-handler/tox;application/x-tox;
X-AppImage-Version=56af9c0

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
