[Desktop Entry]
Name=Sabaki
Comment=An elegant Go/Baduk/Weiqi board and SGF editor for a more civilized age.
Exec=AppRun
Terminal=false
Type=Application
Icon=sabaki
X-AppImage-Version=0.33.3
X-AppImage-BuildId=64bb36b0-0f19-11a8-3590-7f3d1419101e
Categories=Game;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MIT
