[Desktop Entry]
Name=untermStrich Connector
Comment=untermStrich Connector
Exec=AppRun
Terminal=false
Type=Application
Icon=us-connector
StartupWMClass=untermStrich Connector
X-AppImage-Version=2.0.22
Categories=Utility;
X-AppImage-BuildId=1Cvi59x8UH5UcLcI6SC0KCxt3aD

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
