[Desktop Entry]
Name=NanoVault
Comment=Wallet for interacting with Nano
Exec=AppRun
Terminal=false
Type=Application
Icon=nanovault
X-AppImage-Version=1.1.0
X-AppImage-BuildId=6ec7c7a0-1a16-11a9-1644-c387330ae0cd
Categories=Finance;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
