[Desktop Entry]
Name=Tweet Tray
Comment=Tweet quickly from the desktop without any more distractions.
Exec=AppRun
Terminal=false
Type=Application
Icon=tweet-tray
X-AppImage-Version=1.1.3
X-AppImage-BuildId=6c903f50-3d79-11a8-3a40-df7614ff03cc
Categories=Development;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
