---
# index.html in the root directory points here
layout: default
---

  <style type="text/css">
    /* Container holding the image and the text */
    .moodpic {
      position: relative;
      text-align: center;
      color: white;
      opacity: 0.5;
      filter: alpha(opacity=50); /* For IE8 and earlier */
    }
    .moodpic:hover {
      position: relative;
      text-align: center;
      color: white;
      opacity: 1.0;
      filter: alpha(opacity=100); /* For IE8 and earlier */
    }
    /* Centered text */
    .moodtext {
      position: absolute;
      font-size: 30px;
      color: white;
      font-weight: bold;
      text-shadow: 0px 0px 4px #000000;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
    
  <span>
  {% for category in site.data.categories %}
    <p>
      <a href="/categories/{{ category.xdg }}">
        {% if category.stocksnap %}
          <div class="moodpic">
            <img src="https://cdn.stocksnap.io/img-thumbs/280h/{{ category.stocksnap }}.jpg" />
            <div class="moodtext">{{ category.en }}</div>
          </div>
        {% else %}
          <div>{{ category.en }}</div>
        {% endif %}
      </a>
    </p>

    
  {% endfor %}
  </span>  
