<!DOCTYPE html>
<html>
<head>
  {% include meta.html %}

  <title>
    {% if page.title %}{{ page.title }} – {% elsif page.generic %}{{ page.name | remove: ".md" }} – {% endif %}{{ site.name }}
  </title>

  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- load jQuery and tablesorter scripts -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.18.4/js/jquery.tablesorter.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.18.4/js/jquery.tablesorter.widgets.min.js"></script>
  <script type="text/javascript">
    $(function(){
      $(".tablesorter").tablesorter();
    });
    if (window.location.protocol !== 'https:') {
      window.location = 'https://' + window.location.hostname + window.location.pathname + window.location.hash;
    }
  </script>

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
</head>

<body class="beta">
  <header>
    <nav>
      <a href="{{ site.baseurl }}/" title="{{ site.description }}" class="site-name">
        <img src="{{ site.avatar }}" />
        {{ site.name }}
      </a>
      <a href="{{ site.baseurl }}/">News</a>
      <a href="{{ site.baseurl }}/apps">Apps</a>
      <a href="{{ site.baseurl }}/art">Art</a>
      <a href="{{ site.baseurl }}/others">Others</a>
      <a href="{{ site.baseurl }}/about">About</a>
      <label for="search" title="Search with DuckDuckGo"><i class="fa fa-search"></i></label>
      <input id="search" placeholder="Search with DuckDuckGo" type="search" required="required" />
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    {% include svg-icons.html %}
  </footer>

  {% include analytics.html %}
</body>
</html>
