---
# This template holds the boilerplate before and after the application details
# on the product detail pages, but not the application-specific information itself
layout: default
---

{% assign post = page %}

<p>
  <a href="/">{{ site.name }}</a> > <a href="/categories/{{ page.desktop["Desktop Entry"].Categories }}">{{ page.desktop["Desktop Entry"].Categories }}</a> > {{ page.name | remove: ".md" }}
</p>

<article class="post">

  <header>
 
    <h1 style="text-align:center" id="{{ post.title | replace: "_", " " }}">
      {% if post.icons[0] %}<img height="128" width="128" src="https://appimage.github.io/database/{{post.icons[0]}}"/><br/>{% else %}{% endif %}
      {% if page.title %}{{ page.title | replace: "_", " " }}{% else %}{{ page.name | remove: ".md" | replace: "_", " " }}{% endif %}</h1>
    {% if post.generic %}<p>{{ post.generic }}</p>{% endif %}

  </header>

  <div class="entry">

    {{ content }}

  </div>

  {% include disqus.html %}
</article>
