[Desktop Entry]
Name=IrScrutinizer
Comment=Program for capturing, generating, analyzing, importing, and exporting of infrared signals.
Exec=irscrutinizer
Icon=irscrutinizer
Categories=AudioVideo;Java;
Version=1.0
Type=Application
Terminal=false
StartupNotify=true
MimeType=text/girr;
X-AppImage-Version=67c7034

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|bengtmartensson|harctoolboxbundle|continuous|IrScrutinizer*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
