[Desktop Entry]
Name=Heb12 Bible
Comment=A simple program for reading the Bible
Exec=AppRun
Terminal=false
Type=Application
Icon=heb12
X-AppImage-Version=0.2.0
X-AppImage-BuildId=1fcee9d0-7e44-11a8-1b79-fd3de94a8f8a
Categories=Education;Office;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
