[Desktop Entry]
Name=Qt_DAB
Exec=qt-dab
Comment=Software for listening to terrestrial Digital Audio Broadcasting (DAB and DAB+)
Icon=qt-dab
Type=Application
Categories=AudioVideo;

[AppImageHub]
X-AppImage-UpdateInformation=
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
