[Desktop Entry]
Type=Application
Categories=Utility;
Name=DeepTags
Comment=A markdown notes manager that organizes notes according to tags
TryExec=deeptags
Exec=deeptags %F
Icon=deeptags
Terminal=false
X-AppImage-Version=0.5.2

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|SZinedine|DeepTags|latest|DeepTags*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
