[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=1.13.1
X-AppImage-Name=OpenEmux
Type=Application
Version=1.0
Name=OpenEmux
GenericName=Emulator Frontend
Comment=Linux-native emulator frontend for RetroArch
Exec=openemux
Icon=io.github.guilhermefeitosa66.OpenEmux
Terminal=false
Categories=Game;Emulator;
Keywords=emulator;retro;games;retroarch;roms;console;
StartupNotify=true
StartupWMClass=io.github.guilhermefeitosa66.OpenEmux

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=bundled
X-AppImage-Runtime=static
X-AppImage-Self-Contained=true
X-AppImage-Payload-License=MIT
