[Desktop Entry]
Name=CUBA Studio SE
Comment=CUBA Studio Standalone Edition
Exec=AppRun
Terminal=false
Type=Application
Icon=studio
X-AppImage-Version=6.8.2.30
X-AppImage-BuildId=3a8111d0-17ca-11a8-0a89-41f4d85a1ca8
Categories=Development;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
