[Desktop Entry]
Type=Application
Name=iQPuzzle
GenericName=Pentomino Puzzle
Comment=A diverting I.Q. challenging pentomino puzzle
Icon=iqpuzzle
TryExec=iqpuzzle
Exec=iqpuzzle %f
Terminal=false
Categories=Game;LogicGame;
Keywords=Puzzle;Pentomnio;IQ;

[AppImageHub]
X-AppImage-UpdateInformation=zsync|https://download.opensuse.org/repositories/home:/ElThoro/AppImage/iQPuzzle-latest-x86_64.AppImage.zsync
X-AppImage-Signature=Signature made Sat 20 Mar 2021 05:14:09 PM UTC using RSA key ID 6A3CC966 Can't check signature: No public key 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
