[Desktop Entry]
Name=BunqDesktop
Comment=A desktop implementation for the bunq API
Exec=AppRun
Terminal=false
Type=Application
Icon=bunqdesktop
X-AppImage-Version=0.8.1.221
X-AppImage-BuildId=394586c0-3043-11a8-1c0f-3717b12a11c6
Categories=Office;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MIT
