[Desktop Entry]
Type=Application
Version=1.0
Name=MediaInfo
Comment=Supplies technical and tag information about a video or audio file
Comment[fr]=fournit des informations techniques et les tags à propos de vos fichiers video et audio
Icon=mediainfo
Exec=mediainfo-gui.wrapper %f
Terminal=false
MimeType=video/mpeg;video/x-mpeg;video/msvideo;video/quicktime;video/x-anim;video/x-avi;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;video/x-nsv;video/x-flc;video/x-fli;video/x-flv;video/vnd.rn-realvideo;video/mp4;video/mp4v-es;video/mp2t;application/ogg;application/x-ogg;video/x-ogm+ogg;audio/x-vorbis+ogg;application/x-matroska;audio/x-matroska;video/x-matroska;video/webm;audio/webm;audio/x-mp3;audio/x-mpeg;audio/mpeg;audio/x-wav;audio/x-mpegurl;audio/x-scpls;audio/x-m4a;audio/x-ms-asf;audio/x-ms-asx;audio/x-ms-wax;application/vnd.rn-realmedia;audio/x-real-audio;audio/x-pn-realaudio;application/x-flac;audio/x-flac;application/x-shockwave-flash;audio/vnd.rn-realaudio;audio/x-pn-aiff;audio/x-pn-au;audio/x-pn-wav;audio/x-pn-windows-acm;application/x-extension-mp4;audio/mp4;audio/amr;audio/amr-wb;application/x-shorten;audio/x-ape;audio/x-wavpack;audio/x-tta;audio/x-opus+ogg;
Categories=AudioVideo;AudioVideoEditing;
Keywords=media info;metadata;tag;video;audio;subtitles;chapters;codec;mkv;mpeg;mp3;h264;avc;h265;hevc;avi;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
# Dear upstream developer, please include a digital signature in your AppImage
# (e.g., with appimagetool -s) so that users can easily verify the authenticity the AppImage
X-AppImage-Type=1
# Dear upstream developer, please consider to switch to type 2
# so that users can benefit from the additional features like digital embedded signatures
# see https://github.com/AppImage/AppImageSpec/blob/master/draft.md#type-2-image-format
# or use linuxdeployqt or appimagetool which produce type 2 automatically
X-AppImage-Architecture=x86_64
