[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=SmartGit
Keywords=git;
Comment=Git-Client
Type=Application
Categories=Development;RevisionControl;
Terminal=false
StartupNotify=true
StartupWMClass=SmartGit
Exec=smartgit.sh %u
MimeType=x-scheme-handler/git;x-scheme-handler/smartgit;x-scheme-handler/sourcetree;
Icon=smartgit
X-AppImage-Version=18_2_5

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
