[Desktop Entry]
Name=Moji
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=moji
StartupWMClass=moji
X-AppImage-Version=1.0.7
Keywords=Markdown;Editor;Viewer;Documents;Notes;
X-AppImage-Repository=https://github.com/alexishida/Moji
X-AppImage-Author=Alex Ishida
X-AppImage-Homepage=https://github.com/alexishida/Moji
X-AppImage-Description=Moji is a desktop app for opening, reading, editing, and exporting Markdown files with split preview/editing, outline navigation, localized UI, and PDF, HTML, and PNG export.
Comment=Moji is a desktop app for opening, reading, editing, and exporting Markdown files with split preview/editing, outline navigation, localized UI, and PDF, HTML, and PNG export.
MimeType=text/markdown;text/markdown;text/markdown;
Categories=Office;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=dynamic
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.25
X-AppImage-Payload-License=MIT
