[Desktop Entry]
Name=PhotoQt
Name[ca]=PhotoQt
Name[cs]=PhotoQt
Name[de]=PhotoQt
Name[es]=PhotoQt
Name[fr]=PhotoQt
Name[nl]=PhotoQt
Name[sr]=ФотоQт
Name[sr@ijekavian]=ФотоQт
Name[sr@ijekavianlatin]=FotoQt
Name[sr@latin]=FotoQt
GenericName=Image Viewer
GenericName[ca]=Visor d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[de]=Bildbetrachter
GenericName[es]=Visor de imagenes
GenericName[fr]=Visualisateur d'images
GenericName[nl]=Afbeeldingen-viewer
GenericName[sr]=Приказивач слика
GenericName[sr@ijekavian]=Приказивач слика
GenericName[sr@ijekavianlatin]=Prikazivač slika
GenericName[sr@latin]=Prikazivač slika
Comment=View and manage images
Comment[ca]=Visualitza i gestiona imatges
Comment[cs]=Prohlížet and spravovat obrázky
Comment[de]=Betrachte und manage Bilder
Comment[es]=Visualizar y gestionar imágenes
Comment[fr]=Voir et gérer des images
Comment[nl]=Bekijk en beheer afbeeldingen
Comment[sr]=Приказује и управља сликама
Comment[sr@ijekavian]=Приказује и управља сликама
Comment[sr@ijekavianlatin]=Prikazuje i upravlja slikama
Comment[sr@latin]=Prikazuje i upravlja slikama
Exec=photoqt %f
Icon=photoqt
Type=Application
Terminal=false
Categories=Graphics;Viewer;
MimeType=image/bmp;image/gif;image/jp2;video/x-mng;image/vnd.microsoft.icon;image/x-win-bitmap;image/x-icns;image/jpeg;image/png;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-portable-anymap;image/svg+xml;image/tiff;image/vnd.wap.wbmp;image/x-xbitmap;image/x-xpixmap;image/x-sgi;image/webp;image/x-eps;image/x-exr;image/openraster;image/vnd.zbrush.pcx;image/vnd.adobe.photoshop;image/x-tga;image/x-xcf;image/rle;image/x-cmu-raster;application/dicom;image/dpx;image/fax-g3;image/fits;image/x-jng;application/x-mif;image/x-photo-cd;image/x-pict;audio/vnd.dts.hd;text/x-mpsub;image/x-sun-raster;application/x-wpg;image/x-xwindowdump;image/x-sony-arw;image/x-sony-sr2;image/x-canon-crw;image/x-canon-cr2;image/x-kodak-dcr;image/x-kodak-kdc;image/x-adobe-dng;image/x-kde-raw;image/x-minolta-mrw;image/x-nikon-nef;image/x-olympus-orf;image/x-pentax-pef;image/x-fuji-raf;image/x-panasonic-rw2;image/x-panasonic-rw;image/x-sigma-x3f;image/x-dds;image/x-hdr;image/x-ilbm;
X-AppImage-Version=76179c3

[AppImageHub]
X-AppImage-UpdateInformation=zsync|https://gitlab.com/luspi/photoqt/-/jobs/artifacts/photoqt2/raw/PhotoQt-x86_64.AppImage.zsync?job=appimage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
