[Desktop Entry]
Name=Nytuo-Launcher
Exec=AppRun
Terminal=false
Type=Application
Icon=nytuolauncher
StartupWMClass=Nytuo-Launcher
X-AppImage-Version=2.10.1
Comment=Permet de télécharger,mettre à jour et jouer à mes jeux de manière simple et sans prise de tête.
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
