[Desktop Entry]
Type=Application
Name=esptool-gui
Exec=esptool-gui
Icon=esptool-gui
Categories=Development;
X-AppImage-Version=f7fefcf

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|probonopd|esptool-gui|continuous|esptool-gui*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=NOASSERTION
