[Desktop Entry]
Name=p2p.kiwi
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=p2p.kiwi
StartupWMClass=p2p.kiwi
X-AppImage-Version=3.6.1
Comment=p2p.kiwi is a simple and easy-to-use screen sharing tool for Mac, Windows, and Linux.
MimeType=x-scheme-handler/kiwi;
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=dynamic
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=2.38
