[Desktop Entry]
Name=DeepSeek Whale Pet
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=deepseek-whale-pet
StartupWMClass=DeepSeek Whale Pet
X-AppImage-Version=1.5.5
Comment=DeepSeek 余额小鲸鱼桌宠：余额监控、今日已用记账、峰谷定价、随机台词与音效。
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Libc=host
X-AppImage-Runtime=dynamic
X-AppImage-Self-Contained=false
X-AppImage-Glibc-Required=GLIBC_2.25
X-AppImage-Payload-License=MIT
