[Desktop Entry]
Name=RadioIt
Version=1.0
Comment=Automation software for Radios.
Comment[es]=Automatizador para emisoras de radio.
Comment[hu]=Adásvezérlő szoftver rádiókhoz
GenericName=Radio Automation
GenericName[es]=Radio Automatizador
GenericName[hu]=Rádió Adásvezérlő
Exec=radioit
Icon=radioit
StartupNotify=true
Terminal=false
Type=Application
Categories=AudioVideo;Player;Music;Qt;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created Signature made Sun May 31 12:19:30 2020 UTC                using DSA key C3F00F380A2DEA30E416E9313920F6B3A7D9B030 Can't check signature: No public key 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
