[Desktop Entry]
Name=Laigter
GenericName=2D normal map generator
Comment=Tool to generate normal, specular, occlussion and parallax maps for 2D textures
Exec=laigter
Icon=laigter
Type=Application
Categories=Graphics;2DGraphics;
X-AppImage-Version=1.10.1

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|azagaya|laigter|latest|Laigter*-x86_64.AppImage.zsync
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=GPL-3.0
