[Desktop Entry]
Version=1.0
Name=LeoCAD
Comment=Create virtual LEGO models
Comment[eo]=Kreu virtualajn LEGO-ajn modelojn
Comment[it]=Crea modelli LEGO virtuali
Comment[nb]=Lag virtuelle LEGO-modeller
Comment[pt_BR]=Criar modelos virtuais de LEGO
Comment[de]=Erstelle virtuelle Lego Modelle
Exec=leocad %f
Terminal=false
Type=Application
Icon=leocad
MimeType=application/vnd.leocad;application/x-ldraw;application/x-multi-part-ldraw;application/x-multipart-ldraw;application/x-ldlite;
Categories=Graphics;3DGraphics;Education;
Keywords=CAD;LEGO;LDraw;

X-AppImage-Version=35ba24f

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=directory '/home/runner/.gnupg' created keybox '/home/runner/.gnupg/pubring.kbx' created [don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
