# If you want Axe Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-axe.desktop

[Desktop Entry]
Comment=Axe Electrum Wallet
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-axe %u"
GenericName[en_US]=Axe Electrum
GenericName=Axe Electrum
Icon=electrum-axe
Name[en_US]=Axe Electrum
Name=Axe Electrum
Categories=Network;
StartupNotify=true
StartupWMClass=axe-electrum
Terminal=false
Type=Application
MimeType=x-scheme-handler/axerunners;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-axe --testnet %u"
Name=Testnet mode

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=MIT
