[Desktop Entry]
Name=isle-editor
Exec=AppRun
Terminal=false
Type=Application
Icon=isle-editor
StartupWMClass=isle-editor
X-AppImage-Version=0.38.2.2405
Comment=Editor for Integrated Statistics Learning Environment (ISLE) lessons.
MimeType=text/plain;
Categories=Education;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=NOASSERTION
