[Desktop Entry]
Version=1.0
Name=LPub3D
GenericName=LDraw Editor
Comment=An LDraw Building Instruction Editor
Exec=lpub3d24 %f
Terminal=false
Type=Application
Icon=lpub3d
MimeType=application/x-ldraw;application/x-multi-part-ldraw;application/x-multipart-ldraw;
Keywords=;Instructions;Building;CAD;CAI;LEGO;LDraw;Renderer;Viewer;POVRay;LDView;LDGLite;Editor;
Categories=Graphics;3DGraphics;Publishing;Viewer;Education;Engineering;
X-AppImage-Version=2.4.2

[AppImageHub]
X-AppImage-UpdateInformation=gh-releases-zsync|trevorsandy|lpub3d|continuous|LPub3D*-x86_64.AppImage.zsync
X-AppImage-Signature=[don't know]: invalid packet (ctb=0a) no signature found the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
