[Desktop Entry]
Name=EnvKey
Comment=EnvKey’s cross-platform native app
Exec=AppRun
Terminal=false
Type=Application
Icon=envkey
X-AppImage-Version=0.9.6
X-AppImage-BuildId=7ffe9120-9907-11a7-22ba-0983176f56d3
Categories=Development;

[AppImageHub]
X-AppImage-UpdateInformation=                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
# Dear upstream developer, please include a digital signature in your AppImage
# (e.g., with appimagetool -s) so that users can easily verify the authenticity the AppImage
X-AppImage-Type=1
# Dear upstream developer, please consider to switch to type 2
# so that users can benefit from the additional features like digital embedded signatures
# see https://github.com/AppImage/AppImageSpec/blob/master/draft.md#type-2-image-format
# or use linuxdeployqt or appimagetool which produce type 2 automatically
X-AppImage-Architecture=x86_64
