[Desktop Entry]
Version=1.0
Type=Application
Name=puush-qt
GenericName=Puush Screenshot Tool
Comment=Takes screenshots and uploads them to Puush
Exec=puush-qt
TryExec=puush-qt
Icon=puush-qt
Terminal=false
Categories=Utility;Graphics;Qt;
StartupNotify=false

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
X-AppImage-Payload-License=BSD-3-Clause
