[Desktop Entry]
Name=HyperionIDE
Comment=Hyperion IDE for JIRA
Exec=AppRun
Terminal=false
Type=Application
Icon=hyperionide
X-AppImage-Version=0.1.1
X-AppImage-BuildId=dd9a4980-a399-11a8-1f90-4781ee8498a7
Categories=Utility;

[AppImageHub]
# Dear upstream developer, please include update information in your AppImage
# (e.g., with appimagetool -u) so that users can easily update the AppImage
X-AppImage-Signature=no valid OpenPGP data found. the signature could not be verified. Please remember that the signature file (.sig or .asc) should be the first file given on the command line. 
X-AppImage-Type=2
X-AppImage-Architecture=x86_64
